#parse("ru/header.vm")

Пользователь, на которого вы подписаны в Твиттере, создал Unrealizm.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("ru/footer.vm")
