#parse("ja/header.vm")

☆ おすすめユーザー ☆

#foreach($u in $recommend_users)
【$u.nickname】 #if($u.requestCreatorStatus==2) ☆エアスケブ募集中 #end
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("ja/footer.vm")
