#parse("ja/header.vm")

☆ NEW! ☆
[エアスケブ]
他の方からのリクエストをいただいて、その方へ作品をお渡しするエアスケブができるようになりました。
有償・無償どちらでも依頼も受けることができます。

[リプライ]
作品にもらったリアクションに対して、お礼の気持ちを絵文字で返信できるようになりました。
マイボックス画面から自分の作品を表示して、水色の曲がっている矢印をタップしてみましょう。


☆ おすすめユーザー ☆

#foreach($u in $recommend_users)
【$u.nickname】 #if($u.requestCreatorStatus==2) ☆エアスケブ募集中 #end
#if($u.profile.length()>0)
$u.profile
#end
https://ai.poipiku.com/$u.userId

#end

Unrealizmのフォローは相手に伝わりません。気軽にフォローしてみましょう。

#parse("ja/footer.vm")
