#parse("ja/header.vm")

リクエストを承認しました。
こちらのページより、内容をご確認ください。（要ログイン）
$request_board_url

・納品期限までにコンテンツを納品してください。
・コンテンツの内容及びクオリティについては、リクエストの内容・用途・金額から、ご自身で判断ください。
・ポイピク内外にて、このリクエストについてクライアントとやりとりすることはできません。
・いかなる理由によっても、納品期限を延長することはできません。スケジュールには余裕を持って、早めの納品をお勧めします。
・納品期限までに納品しなかった場合は、キャンセル扱いとなります。
・誤って承認してしまった場合は、納品期限まで何もせず、そのままにしておいてください。

#parse("ja/footer.vm")
