#parse("ja/header.vm")

エアスケブの依頼を承認しました。
こちらのページより、内容をご確認ください。（要ログイン）
$request_board_url

・制作の内容及びクオリティについては、依頼の内容からご自身で判断ください。
・Unrealizm内外にて、この依頼について依頼主とやりとりすることはできません。
・いかなる理由によっても、お渡し期限を延長することはできません。特に有償依頼の場合はスケジュールには余裕を持って、早めのお渡しをお勧めします。
・お渡し期限までに作品をアップロードしなかった場合は、キャンセル扱いとなります。
・誤って承認してしまった場合は、お渡し期限まで何もせず、そのままにしておいてください。

#parse("ja/footer.vm")
