TOMCAT_HOME="/opt/java/tomcat/apache-tomcat-7.0.107/"
CLASSES_TOMCAT="${TOMCAT_HOME}lib/catalina.jar:${TOMCAT_HOME}lib/servlet-api.jar:${TOMCAT_HOME}/bin/tomcat-juli.jar"
JAVA_HOME="/Library/Java/JavaVirtualMachines/jdk-17.0.1.jdk/Contents/Home/"
