#parse("ru/header.vm")

Вот некоторые рекомендуемые пользователи, которых вы не подписаны на Unrealizm.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("ru/footer.vm")
