#parse("ru/header.vm")

Вот некоторые рекомендуемые пользователи, которых вы не подписаны на POIPIKU.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://ai.poipiku.com/$u.userId

#end

Следование POIPIKU не является уведомлением другого лица. Не стесняйтесь следовать им.

#parse("ru/footer.vm")
