亲爱的$to_name

欢迎来到虚幻！
Unrealizm 是一个用于 AI 作品的图像提交社交网络。
您不仅可以发布 AI 生成的图像，还可以发布与 AI 合作创作的作品。
我们的工作人员将向您展示如何使用 Unrealizm 以及如何设置您的电子邮件。

[发布并享受]
+ 文件 +
您可以上传 PNG、JPEG 和 GIF（包括动画 GIF）。可同时上传多张图片，提交后可更改或替换顺序。

+ 粘贴 +
您可以复制和粘贴屏幕截图和其他图像并发布它们。

[享受观看和阅读]
+ 反应 +
对于每个内容，您可以将您的感受作为表情符号（反应）发送。您还可以对单个内容有多种反应。
如果您愿意，可以随时发送表情符号。

+关注+
当您在Unrealizm上关注用户时，您可以在【首页】查看您关注的用户的新帖子。


[电子邮件设置]
您还可以使用您的电子邮件地址和密码登录 Unrealizm，以防 Twitter 集成不起作用或您删除了您的 Twitter 帐户。

电子邮件：$login_email
密码：$login_password

- 如果您已注册 Twitter 集成，您在 Twitter 帐户中注册的电子邮件地址将暂时设置为 Unrealizm。
- 您可以在设置页面中更改您的电子邮件地址和密码。


[电子邮件发送]
当有未读公告时，或者当您在 Twitter 上关注的用户启动 Unrealizm 时，YouYou 会偶尔收到通知电子邮件。
- 您可以在设置屏幕中更改交付开/关。


[官方账号]
这是 Unrealizm 和 Twitter 的官方账号。我们将根据需要发布更新和活动信息，所以如果您愿意，请关注我们。

虚幻
https://unrealizm.com/2

推特
https://twitter.com/pipajp


所以，享受 Unrealizm！

#parse("zh_CN/footer.vm")
