亲爱的$to_name

欢迎来到POIPIKU!
我们的工作人员会告诉您如何使用POIPIKU以及如何设置您的电子邮件。

[发布和享受]
您可以发布图片（照片可以接受）和小说（文字）。
POIPIKU是一个你可以随意张贴涂鸦或你正在创作的内容的网站。请随意张贴你自己的作品。

+ 文件+
您可以上传PNG、JPEG和GIF（包括GIF动画）。可以同时上传多张图片，提交后可以改变或替换顺序。

+ 小说 +
你可以提交多达100,000个字符。你可以在垂直和水平书写方式之间切换，也可以使用青空文库的符号来书写红宝书。

+ 粘贴 +
你可以复制和粘贴屏幕截图和其他图像并发布。你可以做一些事情，比如捕捉绘画软件的屏幕，并发布你的工作进展。


[享受观看和阅读]
当您在POIPIKU上关注一个用户时，您可以在[悄悄关注]页面上查看您所关注的用户的新帖子。
在POIPIKU上的关注者将不会被通知。让我们马上关注他们。


+ 推荐用户 +

#foreach($u in $recommend_users)
$u.nickname
#if($u.profile.length()>0)
$u.profile
#end
https://ai.poipiku.com/$u.userId

#end


+ 反应 +
对于每个内容，你可以将你的感受作为Emoji（反应）发送。你也可以对一个内容有多个反应。
反应，不会告诉对方是谁发送的。如果你觉得合适，你可以随心所欲地发送表情符号。


[电子邮件设置]。
您也可以用您的电子邮件地址和密码登录POIPIKU，以备Twitter整合不成功或者您已经删除了您的Twitter账户。

电子邮件 : $login_email
密码 : $login_password

- 在Twitter上注册的电子邮件地址。
- 你可以在设置页面中改变你的电子邮件地址和密码。


[电子邮件发送]
您会不定期地收到电子邮件通知，比如介绍推荐用户的通知，或者当您在Twitter上关注的用户开始使用POIPIKU时通知您。
- 您可以在设置页面中更改发送的开/关。


[官方账户]
这是POIPIKU和Twitter的官方账户。我们将根据需要发布最新信息和运动信息，如果你喜欢，请关注我们。

POIPIKU
https://ai.poipiku.com/2

Twitter
https://twitter.com/pipajp


所以，享受POIPIKU吧

#parse("zh_CN/footer.vm")
