- Bạn có thể bật và tắt tính năng gửi email trong màn hình cài đặt của phiên bản trình duyệt POIPIKU.
- Email này chỉ để gửi và không thể trả lời.
- Bạn có thể sử dụng địa chỉ email và mật khẩu của mình để đăng nhập vào POIPIKU, nếu bạn gặp sự cố khi kết nối với Twitter.
(Truy cập https://poipiku.com/ khi đã đăng xuất.)

--
POIPIKU powered by Pipa.jp Ltd.

Official accounts
https://poipiku.com/2
https://twitter.com/pipajp
