#parse("es/header.vm")

Aquí tienes algunos usuarios recomendados que no sigues en Unrealizm.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("es/footer.vm")
