#parse("es/header.vm")

Aquí tienes algunos usuarios recomendados que no sigues en Unrealizm.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://ai.poipiku.com/$u.userId

#end

Seguir por Unrealizm no es notificar a la otra persona. Siéntase libre de seguirlos.

#parse("es/footer.vm")
