- คุณสามารถเปิดและปิดการส่งอีเมลในหน้าจอการตั้งค่าของเวอร์ชันเบราว์เซอร์ของ Unrealizm
- อีเมลนี้ใช้สำหรับส่งเท่านั้นและไม่สามารถตอบกลับได้
- คุณสามารถใช้ที่อยู่อีเมลและรหัสผ่านเพื่อเข้าสู่ระบบ Unrealizm หากคุณมีปัญหาในการเชื่อมต่อกับ Twitter
(เข้าถึง https://unrealizm.com/ ขณะออกจากระบบ)

--
Unrealizm powered by Pipa.jp Ltd.

Official accounts
https://unrealizm.com/2
https://twitter.com/pipajp
