- คุณสามารถเปิดและปิดการส่งอีเมลในหน้าจอการตั้งค่าของเวอร์ชันเบราว์เซอร์ของ POIPIKU
- อีเมลนี้ใช้สำหรับส่งเท่านั้นและไม่สามารถตอบกลับได้
- คุณสามารถใช้ที่อยู่อีเมลและรหัสผ่านเพื่อเข้าสู่ระบบ POIPIKU หากคุณมีปัญหาในการเชื่อมต่อกับ Twitter
(เข้าถึง https://poipiku.com/ ขณะออกจากระบบ)

--
POIPIKU powered by Pipa.jp Ltd.

Official accounts
https://poipiku.com/2
https://twitter.com/pipajp
