#parse("en/header.vm")

Here are some recommended users that you are not following on POIPIKU.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://poipiku.com/$u.userId

#end

Following by POIPIKU is not notify to the other person. Feel free to follow them.

#parse("en/footer.vm")
