#parse("ja/header.vm")

あなたがポイピクでフォローしていないおすすめユーザーを紹介します。

#foreach($u in $recommend_users)
【$u.nickname】 #if($u.requestCreatorStatus==2) ☆リクエスト募集中 #end
#if($u.profile.length()>0)
$u.profile
#end
https://poipiku.com/$u.userId

#end

ポイピクのフォローは相手に伝わりません。気軽にフォローしてみましょう。


※ メール配信のON/OFFは、ブラウザ版ポイピクの設定画面にて切り替えられます。
※ Twitter認証だけでなく、本メールを受信されたメールアドレスによるログインもできます。トップページから「メールで新規登録/ログイン」へお進みください。
#parse("ja/footer.vm")
