#parse("en/header.vm")

Here are some recommended users that you are not following on Unrealizm.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("en/footer.vm")
