#parse("th/header.vm")

ผู้ใช้รายอื่นให้ตั๋ว POIPASS แก่คุณ

- หาก POIPASS ของคุณปิดอยู่ ตั๋วของคุณจะถูกใช้และ POIPASS ของคุณจะถูกเปิดโดยอัตโนมัติ
- คุณสามารถตรวจสอบจำนวนตั๋วปัจจุบันของคุณได้จากหน้าการตั้งค่า
- หากคุณกำลังซื้อ POIPASS คุณจะไม่ถูกเรียกเก็บเงินในเดือนถัดไป

#parse("th/footer.vm")
