#parse("ru/header.vm")

Смайлы-реакции $response_total были отправлены в ваши работы $contents_total.
Проверьте реакцию на экране уведомлений.
https://poipiku.com/ActivityListPcV.jsp

#parse("ru/footer.vm")
