- 포이피쿠 브라우저 버전의 설정 화면에서 이메일 발송을 켜고 끌 수 있습니다.
- 본 메일은 발신 전용 메일로 회신이 불가합니다.
- 트위터 접속에 문제가 있는 경우, 이메일 주소와 비밀번호를 사용하여 포이피쿠에 로그인할 수 있습니다.
(로그아웃 상태에서 https://unrealizm.com/에 접속합니다.)


--
Unrealizm powered by EmotionFlow LLC.

공식 계정
https://unrealizm.com/2
https://twitter.com/pipajp
