#parse("ja/header.vm")

リクエスト募集を開始しました！

ポイピクのユーザーは、こちらのURLからあなた宛にリクエストを送ることができます。
https://poipiku.com/RequestNewPcV.jsp?ID=$user_id
（https://poipiku.com/$user_id/ からもアクセスできます）

リクエストを受信すると、メールにてに通知されます。

#parse("ja/footer.vm")
