亲爱的 $to_name

欢迎来到POIPIKU!
我们的工作人员会告诉您如何使用POIPIKU以及如何设置您的电子邮件。

[发布和享受]
您可以发布图片（照片可以接受）和小说（文字）。
POIPIKU是一个你可以随意张贴涂鸦或你正在创作的内容的网站。请随意张贴你自己的作品。

+ 文件 +
您可以上传PNG、JPEG和GIF（包括GIF动画）。可以同时上传多张图片，提交后可以改变或替换顺序。

+ 小说 +
你可以提交多达100,000个字符。你可以在垂直和水平书写方式之间切换，也可以使用青空文库的符号来书写红宝书。

+ 粘贴 +
你可以复制和粘贴屏幕截图和其他图像并发布。你可以做一些事情，比如捕捉绘画软件的屏幕，并发布你的工作进展。


[享受观看和阅读]
当你在POIPIKU上关注一个用户时，你可以在[悄悄关注]页面上查看你所关注的用户的新帖子。
在POIPIKU上的关注者将不会被通知。让我们马上关注他们。

+ 推荐用户 +

#foreach($u in $recommend_users)
$u.nickname
#if($u.profile.length()>0)
$u.profile
#end
https://ai.poipiku.com/$u.userId

#end


+ 反應 +
對於每個內容，你可以將你的感受作為Emoji（反應）發送。你也可以對一個內容有多個反應。
反應，不會告訴對方是誰發送的。如果你覺得合適，你可以隨心所欲地發送表情符號。


[電子郵件設置]。
您也可以用您的電子郵件地址和密碼登錄POIPIKU，以備Twitter整合不成功或者您已經刪除了您的Twitter賬戶。

電子郵件 : $login_email
密碼 : $login_password

- 在Twitter上註冊的電子郵件地址。
- 你可以在設置頁面中改變你的電子郵件地址和密碼。


[電子郵件發送]
您會不定期地收到電子郵件通知，比如介紹推薦用戶的通知，或者當您在Twitter上關注的用戶開始使用POIPIKU時通知您。
- 您可以在設置頁面中更改發送的開/關。


[官方賬戶]
這是POIPIKU和Twitter的官方賬戶。我們將根據需要發布最新信息和運動信息，如果你喜歡，請關注我們。

Unrealizm
https://ai.poipiku.com/2

Twitter
https://twitter.com/pipajp


所以，享受POIPIKU吧

#parse("zh_TW/footer.vm")
