親愛的$to_name

歡迎來到虛幻主義！
Unrealizm 是一個用於 AI 作品的圖像提交社交網絡。
您不僅可以發布 AI 生成的圖像，還可以發布與 AI 合作創作的作品。
我們的工作人員將向您展示如何使用 Unrealizm 以及如何設置您的電子郵件。

[發布並享受]
+ 文件 +
您可以上傳 PNG、JPEG 和 GIF（包括動畫 GIF）。可同時上傳多張圖片，提交後可更改或替換順序。

+ 粘貼 +
您可以復制和粘貼屏幕截圖和其他圖像並發布它們。

[享受觀看和閱讀]
+ 反應 +
對於每個內容，您可以將您的感受作為表情符號（反應）發送。您還可以對單個內容有多種反應。
如果您願意，可以隨時發送表情符號。

+關注+
當您在Unrealizm上關注用戶時，您可以在【首頁】查看您關注的用戶的新帖子。


[電子郵件設置]
您還可以使用您的電子郵件地址和密碼登錄 Unrealizm，以防 Twitter 集成不起作用或您刪除了您的 Twitter 帳戶。

電子郵件：$login_email
密碼 : $login_password

- 如果您註冊了 Twitter 集成，您在 Twitter 帳戶中註冊的電子郵件地址將暫時設置為 Unrealizm。
- 您可以在設置頁面更改您的電子郵件地址和密碼。


[電子郵件發送]
當有未讀公告時，或者當您在 Twitter 上關注的用戶啟動 Unrealizm 時，YouYou 會偶爾收到通知電子郵件。
- 您可以在設置屏幕中更改交貨開/關。


[官方賬號]
這是 Unrealizm 和 Twitter 的官方賬號。我們將根據需要發布更新和活動信息，所以如果您願意，請關注我們。

虛幻
https://unrealizm.com/2

推特
https://twitter.com/pipajp


所以，享受 Unrealizm 吧！

#parse("zh_TW/footer.vm")
