$to_name様

アンリアリズムへようこそ！
アンリアリズムは、AI作品のための画像投稿SNSです。
AIによる生成画像はもちろんのこと、AIと協力して創作した作品も投稿できます。

運営スタッフより、アンリアリズムの簡単な使い方と、メール設定についてご案内します。

【投稿して楽しむ】
◇ ファイル ◇
PNG, JPEG, GIF(アニメGIF含む)を投稿できます。複数枚同時投稿もでき、投稿後の順番変更や差し替えもOKです。

◇ ペースト ◇
スクリーンショットなどの画像をコピペして投稿できます。画面をキャプチャーして、作業進捗を投稿するようなことができます。


【見て・応援して楽しむ】
◇ リアクション ◇
コンテンツごとに、気持ちを絵文字で送ることができます（リアクション）。ひとつのコンテンツに複数リアクションすることもできます。
リアクションは連打OK。どんどん絵文字を送ってみましょう。

◇ フォロー ◇
アンリアリズムでユーザーをフォローすると、[HOME]ページで、フォローしているユーザーの新着をチェックできます。

【メール設定】
Twitter連携がうまくいかない時や、Twitterアカウントを削除してしまった時などのため、アンリアリズムにはメールアドレスとパスワードでもログインできるようになっています。

メールアドレス：$login_email
パスワード：$login_password

※ Twitter連携で登録された方は、Twitterアカウントで登録しているメールアドレスを、アンリアリズムに仮設定しています。
※ メールアドレス、パスワードは設定画面にて変更できます。


【メール配信】
未読のお知らせがあるときや、Twitterでフォローしているユーザーがアンリアリズムをはじめた時のお知らせなど、不定期にお知らせメールが届きます。
※ 配信のON/OFFは設定画面にて変更できます。


【公式アカウント】
アンリアリズムとTwitterの公式アカウントです。更新情報やキャンペーン情報を随時投稿しますので、よろしければフォローください。

アンリアリズム
https://アンリアリズム.com/2

Twitter
https://twitter.com/pipajp


それでは、アンリアリズムをお楽しみください！

#parse("ja/footer.vm")
