$to_name様

ポイピクへようこそ！
運営スタッフより、ポイピクの簡単な使い方と、メール設定についてご案内します。

【投稿して楽しむ】
画像（写真も可）と小説（テキスト）を投稿できます。
ポイピクは、らくがきや作業中のコンテンツを気軽に投稿できるサイトです。ポイポイ投稿してみましょう。

◇ ファイル ◇
PNG, JPEG, GIF(アニメGIF含む)をアップロードできます。複数枚同時投稿もでき、投稿後の順番変更や差し替えもOKです。

◇ 小説 ◇
10万字まで投稿できます。縦書き・横書き切り替えはもちろん、青空文庫記法などを使ってルビ振りなどもできます。

◇ ペースト ◇
スクリーンショットなどの画像をコピペして投稿できます。ペイントソフトの画面をキャプチャーして、作業進捗を投稿するようなことができます。


【見て・読んで・応援して楽しむ】
ポイピクでユーザーをフォローすると、[こそフォロ]ページで、フォローしているユーザーの新着をチェックできます。
ポイピクのフォローは相手に伝わりません。さっそくフォローしてみましょう。

◇ おすすめユーザー ◇

#foreach($u in $recommend_users)
◇ $u.nickname
#if($u.profile.length()>0)
$u.profile
#end
https://ai.poipiku.com/$u.userId

#end


◇ リアクション ◇
コンテンツごとに、気持ちを絵文字で送ることができます（リアクション）。ひとつのコンテンツに複数リアクションすることもできます。
リアクションは、こそフォロと同じく誰が送ったか相手には伝わりません。どんどん絵文字を送ってみましょう。


【メール設定】
Twitter連携がうまくいかない時や、Twitterアカウントを削除してしまった時などのため、ポイピクにはメールアドレスとパスワードでもログインできるようになっています。

メールアドレス：$login_email
パスワード：$login_password

※ Twitterに登録されているメールアドレスを、ポイピクに仮設定しています。
※ メールアドレス、パスワードは設定画面にて変更できます。


【メール配信】
おすすめユーザーの紹介や、Twitterでフォローしているユーザーがポイピクをはじめた時のお知らせなど、不定期にお知らせメールが届きます。
※ 配信のON/OFFは設定画面にて変更できます。


【公式アカウント】
ポイピクとTwitterの公式アカウントです。更新情報やキャンペーン情報を随時投稿しますので、よろしければフォローください。

ポイピク
https://ai.poipiku.com/2

Twitter
https://twitter.com/pipajp


それでは、ポイピクをお楽しみください！

#parse("ja/footer.vm")
