#parse("en/header.vm")

(English follows Japanese)

あなたの${contents_total}作品に、${reactions_total}リアクションが送られています。
お知らせ画面で絵文字リアクションの通知をチェックしてみましょう。
https://unrealizm.com/ActivityListPcV.jsp

--------

$reactions_total emoji reactions have been sent to your $contents_total works.
Check the Notification screen for the reactions.
https://unrealizm.com/ActivityListPcV.jsp


#parse("en/footer.vm")
