Уважаемый $to_name

Добро пожаловать в POIPIKU!
Наши сотрудники покажут вам, как пользоваться POIPIKU и как настроить свою электронную почту.

[Размещайте и наслаждайтесь].
Вы можете размещать изображения (фотографии приемлемы) и романы (текст).
POIPIKU - это сайт, где вы можете случайно разместить каракули или материалы, над которыми вы работаете. Не стесняйтесь размещать свои работы.

+ Файлы +
Вы можете загружать PNG, JPEG и GIF (включая анимированные GIF). Одновременно можно загружать несколько изображений, а порядок можно изменить или заменить после отправки.

+ Романы +
Вы можете отправить до 100 000 знаков. Вы можете переключаться между вертикальным и горизонтальным стилями письма, а также использовать нотацию Aozora Bunko для написания рубинов.

+ Вставка +
Вы можете копировать и вставлять снимки экрана и другие изображения и размещать их. Вы можете делать такие вещи, как захват экрана программы для рисования и размещать информацию о ходе работы.


[Приятного просмотра и чтения].
Когда вы следуете за пользователем на POIPIKU, вы можете проверять новые сообщения пользователя, за которым вы следуете, на странице [quiet follow].
Пользователи на POIPIKU не будут получать уведомления. Давайте сразу же последуем за ними.

Переведено с помощью www.DeepL.com/Translator (бесплатная версия)

+ Рекомендуемые пользователи +

#foreach($u in $recommend_users)
$u.nickname
#if($u.profile.length()>0)
$u.profile
#end
https://poipiku.com/$u.userId

#end


+ Реакции +
Для каждого контента вы можете отправить свои чувства в виде Emoji (реакции). Вы также можете иметь несколько реакций на один контент.
Реакции не сообщают другому человеку, кто их отправил. Если вам захочется, вы можете отправлять эмодзи так часто, как захотите.


[Настройки электронной почты].
Вы также можете войти в POIPIKU с помощью адреса электронной почты и пароля, если интеграция с Twitter не работает или вы удалили свой аккаунт Twitter.

Электронная почта : $login_email
Пароль : $login_password

- Адрес электронной почты, зарегистрированный в Twitter.
- Адрес электронной почты и пароль можно изменить на странице настроек.


[Доставка электронной почты].
Вы будете периодически получать уведомления по электронной почте, например, уведомления о рекомендуемых пользователях или уведомления о том, что пользователь, за которым вы следите в Twitter, начинает использовать POIPIKU.
- Вы можете включить/выключить доставку на экране настроек.


[Официальные аккаунты].
Это официальный аккаунт POIPIKU и Twitter. Мы будем публиковать обновления и информацию о кампании по мере необходимости, поэтому, пожалуйста, следуйте за нами, если хотите.

Переведено с помощью www.DeepL.com/Translator (бесплатная версия)

POIPIKU
https://poipiku.com/2

Twitter
https://twitter.com/pipajp


Итак, наслаждайтесь POIPIKU!

#parse("ru/footer.vm")
