Дорогой $to_name

Добро пожаловать в Нереализм!
Unrealizm — это социальная сеть для отправки изображений для работ с искусственным интеллектом.
Вы можете публиковать не только изображения, созданные ИИ, но и работы, созданные в сотрудничестве с ИИ.
Наши сотрудники покажут вам, как использовать Unrealizm и как настроить электронную почту.

[Публикуйте и наслаждайтесь]
+ файлы +
Вы можете загружать файлы PNG, JPEG и GIF (включая анимированные GIF). Несколько изображений могут быть загружены одновременно, а порядок может быть изменен или заменен после отправки.

+ Вставить +
Вы можете копировать и вставлять снимки экрана и другие изображения и публиковать их. Вы можете делать такие вещи, как захват экрана программы для рисования и публиковать ход своей работы.


[Наслаждайтесь просмотром и чтением]
+ Реакции +
Для каждого контента вы можете отправить свои чувства в виде эмодзи (реакции). Вы также можете иметь несколько реакций на один и тот же контент.
Реакции, не говорите другому человеку, который их послал. Если вам это нравится, вы можете отправлять смайлики так часто, как хотите.

+ Подписаться +
Когда вы подписаны на пользователя Unrealizm, вы можете проверить новые сообщения пользователя, на которого вы подписаны, на странице [Домашняя].
Подписчики на Unrealizm не будут уведомлены. Давайте сразу же проследим за ними.


[Настройки электронной почты]
Вы также можете войти в Unrealizm со своим адресом электронной почты и паролем, если интеграция с Twitter не работает или вы удалили свою учетную запись Twitter.

Электронная почта: $login_email
Пароль: $логин_пароль

- Если вы зарегистрировались с интеграцией Twitter, ваш адрес электронной почты, зарегистрированный в вашей учетной записи Twitter, временно установлен на Unrealizm.
- Вы можете изменить свой адрес электронной почты и пароль на странице настроек.


[Доставка электронной почты]
YouYou будет время от времени получать уведомления по электронной почте, когда есть непрочитанные объявления, или когда пользователь, на которого вы подписаны в Twitter, запускает Unrealizm.
- Вы можете включить/выключить доставку на экране настроек.


[Официальные аккаунты]
Это официальный аккаунт Unrealizm и Twitter. Мы будем публиковать обновления и информацию о кампании по мере необходимости, поэтому, пожалуйста, следите за нами, если хотите.

Нереализм
https://unrealizm.com/2

Твиттер
https://twitter.com/pipajp


Итак, наслаждайтесь Нереализмом!

#parse("ru/footer.vm")
