- Вы можете включить или выключить доставку электронной почты на экране настроек браузерной версии POIPIKU.
- Это письмо предназначено только для отправки и на него нельзя ответить.
- Вы можете использовать свой адрес электронной почты и пароль для входа в POIPIKU, если у вас возникли проблемы с подключением к Twitter.
(Доступ к https://poipiku.com/ при выходе из системы).

--
POIPIKU powered by Pipa.jp Ltd.

Official accounts
https://poipiku.com/2
https://twitter.com/pipajp
