#parse("es/header.vm")

Has recibido ${waves_total} Emoji de ánimo.
Consulte la pantalla Notificaciones para ver las notificaciones.
https://ai.poipiku.com/ActivityListPcV.jsp

#parse("es/footer.vm")
