#parse("vi/header.vm")

Một người dùng khác đã cấp cho bạn một vé đến POIPASS.

- Nếu POIPASS của bạn đang TẮT, vé của bạn sẽ được sử dụng và POIPASS của bạn sẽ tự động được BẬT.
- Bạn có thể kiểm tra số lượng vé hiện tại của mình từ trang cài đặt.
- Nếu bạn hiện đang mua POIPASS, bạn sẽ không bị tính phí cho tháng tiếp theo.

#parse("vi/footer.vm")
