#parse("ja/header.vm")

エアスケブの受付を開始しました！

Unrealizmのユーザーは、こちらのURLからあなた宛にエアスケブの依頼を送ることができます。
https://ai.poipiku.com/RequestNewPcV.jsp?ID=$user_id
（https://ai.poipiku.com/$user_id/ からもアクセスできます）

依頼を受信すると、メールにてに通知されます。

【ガイドライン閲覧のお願い】
・必ずエアスケブガイドラインをご覧ください。
  https://ai.poipiku.com/GuideLineRequestPcV.jsp
・このガイドラインに同意できない場合は、エアスケブ機能を利用できませんので、募集の停止をお願いいたします。
・募集を継続いただいている場合は、エアスケブガイドラインに同意いただいているものとします。

#parse("ja/footer.vm")
