#parse("ru/header.vm")

Вы получили эмодзи с ${waves_total} сообщениями поддержки, адресованными вам.
Проверьте свои уведомления на странице уведомлений.
https://ai.poipiku.com/ActivityListPcV.jsp

#parse("ru/footer.vm")
