#parse("ja/header.vm")

ポイピクユーザーからエアスケブの依頼が届きました。
こちらのページより、内容をご確認ください。（要ログイン）
$request_board_url

・依頼内容を確認の上、返答期限までに依頼を受けるか、見送るかご検討ください。
・依頼を受けるまでは、依頼をした側からもキャンセルできます。
・返答期限を超えた依頼は自動でキャンセル扱いとなります。
・納品期限は依頼受信日から計算されます。承認を遅らせても納品期限は延びません。

#parse("ja/footer.vm")
