#parse("ja/header.vm")

ポイピクユーザーからリクエストが届きました。
こちらのページより、内容をご確認ください。（要ログイン）
$request_board_url

返答期限までにリクエストを承認またはキャンセルしてください。
承認するまでは、リクエストをした側からもキャンセルできます。
興味のないリクエストについては、なるべく早くキャンセルしてください。
納品期限はリクエスト受信日から計算されます。承認を遅らせても納品期限は延びません。

#parse("ja/footer.vm")
