#parse("ja/header.vm")

リクエストが承認されました。
承認のタイミングで、リクエスト送信時に指定された金額が決済されました。
こちらのページより、内容をご確認ください。（要ログイン）
$request_board_url

クリエイターの納品が終わりましたら、メールにて通知いたします。

もし、クリエイターが納品期限までに納品しなかった場合は、キャンセル扱いとなり全額払い戻されます。
（払い戻しには、場合によっては数ヶ月頂戴いたします）

#parse("ja/footer.vm")
