#parse("th/header.vm")

นี่คือผู้ใช้ที่แนะนำบางส่วนที่คุณไม่ได้ติดตามใน Unrealizm

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("th/footer.vm")
