#parse("th/header.vm")

นี่คือผู้ใช้ที่แนะนำบางส่วนที่คุณไม่ได้ติดตามใน Unrealizm

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://ai.poipiku.com/$u.userId

#end

ตามด้วย Unrealizm จะไม่แจ้งให้บุคคลอื่นทราบ รู้สึกอิสระที่จะปฏิบัติตามพวกเขา

#parse("th/footer.vm")
