#parse("ja/header.vm")

エアスケブの依頼が承認されました。
こちらのページより、内容をご確認ください。（要ログイン）
$request_board_url

・クリエイターが作品をアップロードしましたら、メールにて通知します。
・作品の内容及びクオリティについては、クリエイターにお任せです。依頼内容から、クリエイターが判断します。
・Unrealizm内外にて、この依頼についてクリエイターとやりとりすることはできません。

[有償依頼の場合]
・この承認のタイミングで、依頼時に指定した金額が決済されました。
・クリエイターが納品期限までに納品しなかった場合は、キャンセル扱いとなり全額払い戻されます。
（払い戻しについては手続きにお時間をいただく場合があります）

#parse("ja/footer.vm")
