#parse("en/header.vm")

A user you follow on Twitter has started a Unrealizm.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://ai.poipiku.com/$u.userId

#end

Following by Unrealizm is not notify to the other person. Feel free to follow them.

#parse("en/footer.vm")
