#parse("en/header.vm")

A user you follow on Twitter has started a Unrealizm.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("en/footer.vm")
