#parse("en/header.vm")

Another user has given you a ticket to POIPASS.

- If your POIPASS is OFF, your ticket will be used and your POIPASS will automatically be turned ON.
- You can check your current number of tickets from the settings page.
- If you are currently purchasing a POIPASS, you will not be charged for the following month.

#parse("en/footer.vm")
