#parse("vi/header.vm")

Dưới đây là một số người dùng được đề xuất mà bạn không nên theo dõi trên POIPIKU.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://poipiku.com/$u.userId

#end

Việc theo dõi POIPIKU không được thông báo cho người khác. Hãy thoải mái theo dõi chúng.

#parse("vi/footer.vm")
