#parse("vi/header.vm")

Dưới đây là một số người dùng được đề xuất mà bạn không nên theo dõi trên Unrealizm.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("vi/footer.vm")
