#parse("es/header.vm")

Se han enviado reacciones emoji de $reactions_total a sus trabajos de $contents_total.
Consulta la pantalla de notificaciones para ver las reacciones.
https://unrealizm.com/ActivityListPcV.jsp


#parse("es/footer.vm")
