#parse("vi/header.vm")

Một người dùng mà bạn theo dõi trên Twitter đã bắt đầu một Unrealizm.

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

Việc theo dõi Unrealizm không được thông báo cho người khác. Hãy thoải mái theo dõi chúng.

#parse("vi/footer.vm")
