- 您可以在POIPIKU浏览器版本的设置界面中打开或关闭电子邮件发送功能。
- 该邮件仅用于发送，不能回复。
- 如果您在连接Twitter时遇到困难，您可以使用您的电子邮件地址和密码来登录POIPIKU。
(在签出时可进入https://poipiku.com/)。

--
POIPIKU powered by Pipa.jp Ltd.

Official accounts
https://poipiku.com/2
https://twitter.com/pipajp
