- You can turn email delivery on and off in the settings screen of the browser version of POIPIKU.
- This email is for sending only and cannot be replied.
- You can use your email address and password to log in to POIPIKU, if you are having trouble connecting to Twitter.
(Access to https://ai.poipiku.com/ while signed out.)


--
POIPIKU powered by Pipa.jp Ltd.
https://ai.poipiku.com/

Official accounts
https://ai.poipiku.com/2
https://twitter.com/pipajp
