เรียน $to_name

ยินดีต้อนรับสู่ POIPIKU!
เจ้าหน้าที่ของเราจะแสดงวิธีใช้ POIPIKU และวิธีตั้งค่าอีเมลของคุณ

[โพสต์และสนุก]
คุณสามารถโพสต์ภาพ (ภาพถ่ายเป็นที่ยอมรับ) และนวนิยาย (ข้อความ)
POIPIKU เป็นไซต์ที่คุณสามารถโพสต์ข้อความสั้นๆ หรือเนื้อหาที่คุณกำลังทำงานอยู่ได้ ลงผลงานตัวเองได้เลยคร้าบบบ

+ ไฟล์ +
คุณสามารถอัปโหลด PNG, JPEG และ GIF (รวมถึง GIF แบบเคลื่อนไหว) สามารถอัพโหลดภาพได้หลายภาพพร้อมกัน และสามารถเปลี่ยนหรือเปลี่ยนลำดับได้หลังจากส่งแล้ว

+ นวนิยาย +
คุณสามารถส่งอักขระได้สูงสุด 100,000 ตัว คุณสามารถสลับไปมาระหว่างรูปแบบการเขียนแนวตั้งและแนวนอน และใช้สัญลักษณ์ Aozora Bunko เพื่อเขียนทับทิมได้

+ แปะ +
คุณสามารถคัดลอกและวางภาพหน้าจอและภาพอื่นๆ และโพสต์ได้ คุณสามารถทำสิ่งต่างๆ เช่น จับภาพหน้าจอของซอฟต์แวร์วาดภาพและโพสต์ความคืบหน้าของงานได้


[เพลิดเพลินกับการรับชมและการอ่าน]
เมื่อคุณติดตามผู้ใช้บน POIPIKU คุณสามารถตรวจสอบโพสต์ใหม่ของผู้ใช้ที่คุณกำลังติดตามได้ในหน้า [การติดตามแบบเงียบ]
ผู้ติดตามบน POIPIKU จะไม่ได้รับการแจ้งเตือน มาติดตามกันได้เลย

+ ผู้ใช้ที่แนะนำ +

#foreach($u in $recommend_users)
$u.nickname
#if($u.profile.length()>0)
$u.profile
#end
https://ai.poipiku.com/$u.userId

#end


+ ปฏิกิริยา +
สำหรับแต่ละเนื้อหา คุณสามารถส่งความรู้สึกของคุณเป็นอิโมจิ (ปฏิกิริยา) คุณยังโต้ตอบกับเนื้อหาเดียวได้หลายครั้ง
ปฏิกิริยาอย่าบอกบุคคลอื่นที่ส่งพวกเขา ถ้าชอบก็ส่งอีโมจิได้บ่อยเท่าที่ต้องการ


[การตั้งค่าอีเมล]
คุณยังสามารถเข้าสู่ระบบ POIPIKU ด้วยที่อยู่อีเมลและรหัสผ่านของคุณ ในกรณีที่การรวม Twitter ไม่ทำงานหรือคุณได้ลบบัญชี Twitter ของคุณ

อีเมล : $login_email
รหัสผ่าน : $login_password

- ที่อยู่อีเมลที่ลงทะเบียนบน Twitter
- คุณสามารถเปลี่ยนที่อยู่อีเมลและรหัสผ่านของคุณได้ในหน้าการตั้งค่า


[การส่งอีเมล]
คุณจะได้รับการแจ้งเตือนทางอีเมลเป็นครั้งคราว เช่น การแนะนำผู้ใช้ที่แนะนำหรือแจ้งให้คุณทราบเมื่อผู้ใช้ที่คุณติดตามบน Twitter เริ่มใช้ POIPIKU
- คุณสามารถเปลี่ยนการเปิด/ปิดการส่งได้ในหน้าจอการตั้งค่า


[บัญชีทางการ]
นี่คือบัญชีอย่างเป็นทางการของ POIPIKU และ Twitter เราจะโพสต์ข้อมูลอัปเดตและข้อมูลแคมเปญตามความจำเป็น ดังนั้นโปรดติดตามเราหากคุณต้องการ

POIPIKU
https://ai.poipiku.com/2

Twitter
https://twitter.com/pipajp


เพลิดเพลินไปกับ POIPIKU!

#parse("th/footer.vm")
