เรียน $to_name

ยินดีต้อนรับสู่ Unrealizm!
Unrealizm คือเครือข่ายโซเชียลการส่งรูปภาพสำหรับงาน AI
ไม่เพียงแต่คุณสามารถโพสต์รูปภาพที่สร้างโดย AI ได้เท่านั้น แต่ยังสามารถโพสต์ผลงานที่สร้างร่วมกับ AI ได้อีกด้วย
เจ้าหน้าที่ของเราจะแสดงวิธีใช้ Unrealizm และวิธีการตั้งค่าอีเมลของคุณ

[โพสต์และสนุก]
+ ไฟล์ +
คุณสามารถอัปโหลด PNG, JPEG และ GIF (รวมถึง GIF แบบเคลื่อนไหว) สามารถอัพโหลดภาพได้หลายภาพพร้อมกัน และสามารถเปลี่ยนหรือเปลี่ยนลำดับได้หลังจากส่งแล้ว

+ วาง +
คุณสามารถคัดลอกและวางภาพหน้าจอและภาพอื่นๆ และโพสต์ได้ คุณสามารถทำสิ่งต่างๆ เช่น จับภาพหน้าจอของซอฟต์แวร์วาดภาพและโพสต์ความคืบหน้าของงานได้


[เพลิดเพลินกับการรับชมและการอ่าน]
+ ปฏิกิริยา +
สำหรับแต่ละเนื้อหา คุณสามารถส่งความรู้สึกของคุณเป็นอิโมจิ (ปฏิกิริยา) คุณสามารถมีปฏิกิริยาหลายอย่างกับเนื้อหาเดียวได้
ปฏิกิริยาอย่าบอกบุคคลอื่นที่ส่งพวกเขา ถ้าชอบก็ส่งอีโมจิได้บ่อยเท่าที่ต้องการ

+ ติดตาม +
เมื่อคุณติดตามผู้ใช้บน Unrealizm คุณสามารถตรวจสอบโพสต์ใหม่ของผู้ใช้ที่คุณกำลังติดตามได้ในหน้า [Home]
ผู้ติดตามบน Unrealizm จะไม่ได้รับแจ้ง มาติดตามกันได้เลย


[การตั้งค่าอีเมล]
คุณยังสามารถเข้าสู่ระบบ Unrealizm ด้วยที่อยู่อีเมลและรหัสผ่านของคุณ ในกรณีที่การรวม Twitter ไม่ทำงานหรือคุณได้ลบบัญชี Twitter ของคุณ

อีเมล : $login_email
รหัสผ่าน : $login_password

- หากคุณลงทะเบียนกับการรวม Twitter ที่อยู่อีเมลของคุณที่ลงทะเบียนในบัญชี Twitter ของคุณจะถูกตั้งค่าเป็น Unrealizm ชั่วคราว
- คุณสามารถเปลี่ยนที่อยู่อีเมลและรหัสผ่านของคุณได้ในหน้าการตั้งค่า


[การส่งอีเมล]
คุณจะได้รับอีเมลแจ้งเตือนเป็นครั้งคราวเมื่อมีประกาศที่ยังไม่ได้อ่าน หรือเมื่อผู้ใช้ที่คุณติดตามบน Twitter เริ่ม Unrealizm
- คุณสามารถเปลี่ยนการเปิด/ปิดการส่งได้ในหน้าจอการตั้งค่า


[บัญชีทางการ]
นี่คือบัญชีทางการของ Unrealizm และ Twitter เราจะโพสต์ข้อมูลอัปเดตและข้อมูลแคมเปญตามความจำเป็น ดังนั้นโปรดติดตามเราหากคุณต้องการ

Unrealizm
https://unrealizm.com/2

ทวิตเตอร์
https://twitter.com/pipajp


ดังนั้น ขอให้สนุกกับ Unrealizm!

#parse("th/footer.vm")
