เรียน $to_name

ยินดีต้อนรับสู่ Unrealizm!
Unrealizm เป็นโซเชียลเน็ตเวิร์กการส่งภาพสำหรับงาน AI
คุณสามารถโพสต์ได้ไม่เพียงแค่รูปภาพที่สร้างโดย AI เท่านั้น แต่ยังรวมถึงผลงานที่สร้างขึ้นโดยความร่วมมือกับ AI อีกด้วย
เจ้าหน้าที่ของเราจะแสดงวิธีใช้ Unrealizm และวิธีตั้งค่าอีเมลของคุณ

[โพสต์และสนุก]
+ไฟล์+
คุณสามารถอัปโหลด PNG, JPEG และ GIF (รวมถึง GIF แบบเคลื่อนไหว) สามารถอัปโหลดภาพหลายภาพพร้อมกันได้ และสามารถเปลี่ยนหรือแทนที่ลำดับได้หลังจากส่ง

+แปะ+
คุณสามารถคัดลอกและวางภาพหน้าจอและรูปภาพอื่นๆ แล้วโพสต์ได้

[รับชมและอ่านอย่างเพลิดเพลิน]
+ ปฏิกิริยา +
สำหรับแต่ละเนื้อหา คุณสามารถส่งความรู้สึกของคุณเป็นอิโมจิ (ปฏิกิริยา) คุณยังสามารถมีปฏิกิริยาหลายอย่างต่อเนื้อหาเดียว
หากคุณรู้สึกชอบ คุณสามารถส่งอิโมจิได้บ่อยเท่าที่คุณต้องการ

+ติดตาม+
เมื่อคุณติดตามผู้ใช้บน Unrealizm คุณสามารถตรวจสอบโพสต์ใหม่ของผู้ใช้ที่คุณกำลังติดตามได้ในหน้า [Home]


[การตั้งค่าอีเมล]
คุณยังสามารถเข้าสู่ระบบ Unrealizm ด้วยที่อยู่อีเมลและรหัสผ่านของคุณ ในกรณีที่การรวมเข้ากับ Twitter ไม่ทำงานหรือคุณลบบัญชี Twitter ของคุณไปแล้ว

อีเมล : $login_email
รหัสผ่าน : $login_password

- หากคุณลงทะเบียนกับ Twitter เรียบร้อยแล้ว ที่อยู่อีเมลของคุณที่ลงทะเบียนในบัญชี Twitter ของคุณจะถูกตั้งค่าเป็น Unrealizm ชั่วคราว
- คุณสามารถเปลี่ยนที่อยู่อีเมลและรหัสผ่านของคุณได้ในหน้าการตั้งค่า


[การส่งอีเมล]
คุณจะได้รับอีเมลแจ้งเตือนเป็นครั้งคราวเมื่อมีประกาศที่ยังไม่ได้อ่าน หรือเมื่อผู้ใช้ที่คุณติดตามบน Twitter เริ่ม Unrealizm
- คุณสามารถเปลี่ยนการเปิด/ปิดการจัดส่งได้ในหน้าจอการตั้งค่า


[บัญชีทางการ]
นี่คือบัญชีทางการของ Unrealizm และ Twitter เราจะโพสต์การอัปเดตและข้อมูลแคมเปญตามความจำเป็น ดังนั้นโปรดติดตามเราหากคุณต้องการ

Unrealizm
https://unrealizm.com/2

ทวิตเตอร์
https://twitter.com/pipajp


เพลิดเพลินไปกับ Unrealizm!

#parse("th/footer.vm")
