@charset "utf-8";
body {margin:0; padding: 51px 0 !important; height: 100%; box-sizing: border-box;}
.Header {display:block; position: fixed; top: 0; left: 0; width: 100%; height: 50px; border-bottom: solid 1px #ddd; text-align: center; padding: 0; background: #fff; z-index: 999;}
#HeaderSlider {display: block; position: absolute; z-index: 1; width: 0; height: 2px; background-color: #3498db; top: 0; left: 0;}
.HeaderWrapper {display:block; width: 100%; position: relative;}
.Header .HeaderTitle {display: block; margin: 0; padding: 0; width: 52px; height: 34px;}
.Header .HeaderTitleWrapper {display: block; max-width: 600px; margin: 0 auto; position: relative; padding: 10px 0 8px 0;}
.Header .HeaderTitleWrapper .TwLoginUnsuccessfulIcon {
    color: #3498dbaa;
    display: block;
    position: absolute;
    top: 5px;
    right: 96px;
    font-size: 11px;
}
.Header .HeaderLink {display: block; padding: 0 10px;}
.Header .HeaderLink .HeaderImg {display: block; height: 32px; padding: 0 0 2px 0;}
.Header .HeaderTitleSearch {display: block; color: #3498db; width: 30px; height: 30px; line-height: 28px; text-align: center; position: absolute; top: 2px; right: 10px; padding: 10px 0;}
.HeaderSearchWrapper {max-width: 600px; margin: 0 auto; padding: 4px 0; box-sizing: border-box; overflow: hidden;}
.Header .HeaderLoginBtn {display: block; width: 118px; height: 7px; line-height: 2px; text-align: center; position: absolute; top: 10px; right: 4px; padding: 11px 6px; font-size: 11px;}
.Header .HeaderLoginBtnPc {display: block; width: 117px; height: 7px; line-height: 3px; text-align: center; margin: 0; padding: 11px 6px; font-size: 12px;}
.Header .HeaderSelectLang {color: #3498db;position: absolute;top: 10px;right: 3px;}
.HeaderSearch {display: flex; flex-flow: row nowrap; justify-content: center; padding: 3px 10px 3px 10px;}
.HeaderSearch .HeaderSearchBox {width: 100%; padding: 10px 0 0 8px; border: none; background: none;}
.HeaderSearch .HeaderSearchBox:focus {outline: none;}
.HeaderSearch .HeaderSearchBox:placeholder-shown, .HeaderSearch .HeaderSearchBox::placeholder {color: #bbb; font-style: italic;font-size: 12px;}
.HeaderSearch .HeaderSearchBtn {display: block; flex: 0 0 34px; height: 26px; box-sizing: border-box; margin: 0; background-color: #3498db; color: #fff; border: solid 1px #3498db; cursor: pointer; border-left: none;line-height: 25px;border-radius: 0 15px 15px 0;}
.HeaderSearch .HeaderSearchBtn:hover {background-color: #fff; color: #3498db;}
.HeaderSelectLangList > dd{margin: 10px 0;}
.HeaderSelectLangList > dd > a {color: #3498db;}
.HeaderSearch .HeaderSearchInputWrapper {flex: 1 1; position: relative; border: 1px solid #bbb; border-radius: 5px;}
.HeaderSearch .HeaderSearchClear {display: inline-block; color: #3498dbaa; height: 26px; line-height: 26px; position: absolute; right: 1px; cursor: pointer; visibility: hidden; padding: 4px; font-size:20px;}

.SearchWrapper.overlay {display: none; width: 100vw; height: calc(100vh - 50px); position: fixed; left: 0; top: 0; background-color: #fff; z-index: 999; text-align: center;}
.SearchWrapper.pulldown {display: none; width: 320px; max-height: 75vh; position: absolute; right: 0; top: 50px; background-color: #fff; z-index: 999; text-align: right; border: solid 1px #ddd; border-radius: 0 0 4px 4px; overflow-y: auto; transition: height .4s;}
.SearchWrapper .OverlaySearchCloseBtn {color: #3498db; font-size: 16px; padding: 10px 12px;}
.SearchWrapper .HeaderSearchWrapper {display: flex; height: 50px;}
.SearchWrapper .HeaderSearch {flex-grow: 1;}

.SearchWrapper .RecentSearchHeader {color: #6d6965; font-size: 16px; font-weight: bold; padding: 18px; text-align: left; height: 24px;}
.SearchWrapper .RecentSearchList {color: #6d6965; font-size: 16px; text-align: left; padding-inline-start: 0; height: calc(100% - 110px); margin: 0; overflow-y: auto;}
.SearchWrapper.overlay .RecentSearchList.Loading {background-image: url('/img/loading.gif'); background-repeat: no-repeat; background-position: 50% 50%; height: 28px; background-size: contain}

.SearchWrapper .RecentSearchList li {border-top: solid 1px #ddd; padding: 0 2em; list-style-type: none;}
.SearchWrapper .RecentSearchList li:last-child {border-bottom: solid 1px #ddd;}
.SearchWrapper .RecentSearchList .RecentSearchItem {transition: background-color .4s;}
.SearchWrapper .RecentSearchList .RecentSearchItem:active {background-color: #ddd;}
.SearchWrapper .RecentSearchList .RecentSearchRow {display: flex;}
.SearchWrapper .RecentSearchList .RecentSearchKW {flex-grow: 1; padding: 1em 0;}
.SearchWrapper .RecentSearchList .RecentSearchDelBtn {width: 1em; padding: 1em 0; color: #3498db; display: none;}
.SearchWrapper.pulldown .RecentSearchList li.Loading {background-image: url('/img/loading.gif'); background-repeat: no-repeat; background-position: 50% 50%; background-size: 1.6em; height: 4em;}

.SearchWrapper .SearchListPoipassLink {padding: 0.6em 0; border-top: solid 1px #ddd;}
.SearchWrapper .SearchListPoipassLink a {color: #3498db; font-size: 14px; display: flex; align-items: center;}
.SearchWrapper.overlay .SearchListPoipassLink {position: absolute; bottom: 0; width: 100%; display: flex; justify-content: center; background-color: #fff;}


.FooterMenuWrapper {display: block; width: 100%; height: 50px; position: fixed; bottom: 0; left: 0; background: #fff; border-top: solid 1px #ddd; z-index: 999; }
.FooterMenu {width: 100%; display: flex; align-items: center; justify-content: center;  height: 50px; overflow: hidden;}
.FooterMenu .FooterMenuItem {display: block; float: left; width: 72px; height: 50px; text-align: center; font-size: 0;}
.FooterMenu .FooterMenuItem .FooterMenuItemIcon {display: inline-block; width: 28px; height: 28px; margin: 6px 0 3px 0; background: url('/img/menu_pc-12.png') no-repeat; background-size: 930%; position: relative;}
.FooterMenu .FooterMenuItem .FooterMenuItemIcon .InfoNum {display: none; position: absolute; background: #f00; color: #fff; font-size: 9px; height: 15px; min-width: 9px; padding: 0 3px; text-align: center; ;line-height: 15px; border-radius: 15px; top:-4px; right: -7px;}
.FooterMenu .FooterMenuItem .FooterMenuItemName {display: block; width: 100%; height: 10px; line-height: 10px; text-align: center; font-size: 9px; color: #c0c0b5;}
.FooterMenu .FooterMenuItem.Selected .FooterMenuItemName {color: #3498db;}
.FooterMenu .FooterMenuItem:hover .FooterMenuItemName, .FooterMenuWrapper .FooterMenu .FooterMenuItem.Selected .FooterMenuItemName {color: #3498db;}
.FooterMenu .TwLoginUnsuccessfulIcon {
    color: #3498dbaa;
    display: block;
    font-size: 14px;
    padding-bottom: 12px;
    cursor: pointer;
}

#DispMsg {top: 51px;padding: 40px 10px;}
#MenuHome .FooterMenuItemIcon {background-position: 0 0;}
#MenuSearch .FooterMenuItemIcon {background-position: -28px 0;}
#MenuNew .FooterMenuItemIcon {background-position: -28px 0;}
#MenuRequest .FooterMenuItemIcon {background-position: -197px 0;}
#MenuUpload .FooterMenuItemIcon {background-position: -56px 0;}
#MenuAct .FooterMenuItemIcon {background-position: -84px 0;}
#MenuMe .FooterMenuItemIcon {background-position: -112px 0;}
#MenuMyRequests .FooterMenuItemIcon {background-position: -224px 0;}
#MenuSettings .FooterMenuItemIcon {background-position: -140px 0;}
#MenuGenre .FooterMenuItemIcon {background-position: -168px 0;}
#MenuHome.Selected .FooterMenuItemIcon, #MenuHome:hover .FooterMenuItemIcon {background-position: 0 -28px;}
#MenuNew.Selected .FooterMenuItemIcon, #MenuNew:hover .FooterMenuItemIcon {background-position: -28px -28px;}
#MenuRequest.Selected .FooterMenuItemIcon, #MenuRequest:hover .FooterMenuItemIcon {background-position: -197px -28px;}
#MenuUpload.Selected .FooterMenuItemIcon, #MenuUpload:hover .FooterMenuItemIcon {background-position: -56px -28px;}
#MenuAct.Selected .FooterMenuItemIcon, #MenuAct:hover .FooterMenuItemIcon {background-position: -84px -28px;}
#MenuMe.Selected .FooterMenuItemIcon, #MenuMe:hover .FooterMenuItemIcon {background-position: -112px -28px;}
#MenuMyRequests.Selected .FooterMenuItemIcon, #MenuMyRequests:hover .FooterMenuItemIcon {background-position: -224px -28px;}
#MenuSettings.Selected .FooterMenuItemIcon, #MenuSettings:hover .FooterMenuItemIcon {background-position: -140px -28px;}
#MenuGenre.Selected .FooterMenuItemIcon, #MenuGenre:hover .FooterMenuItemIcon {background-position: -168px -28px;}

#MenuSwitchUser {top: 5px; right: 111px; display: block;}
#MenuSwitchUser .MenuSwitchUserIcon{
    margin-top: 7px;
    display: inline-block;
    width: 21px;
    height: 21px;
    overflow: hidden;
    border-radius: 20px;
    background: url(/img/default_user.jpg_120.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
#MenuSwitchUser .MenuSwitchUserName{display: block; width: 100%; height: 10px; line-height: 10px; text-align: center; font-size: 9px; color: #3498db;}

#MenuUpload {min-width: 60px; top: 5px; right: 40px; display: block;}
#MenuUpload .MenuUploadIcon{background-size: 700%;background: url(/img/menu_pc-12.png) no-repeat -56px -28px;top: 5px; left: 1px; position: relative; width: 28px; display: inline-block; height: 28px;}
#MenuUpload .MenuUploadName{display: block; width: 100%; height: 10px; line-height: 10px; text-align: center; font-size: 9px; color: #3498db;}
#MenuSettings {top: 5px; right: 9px; display: block;}
#MenuSettings .MenuSettingsIcon{background-size: 700%;background: url(/img/menu_pc-12.png) no-repeat -140px -28px;top: 5px; left: 1px; position: relative; width: 28px; display: inline-block; height: 28px;}
#MenuSettings .MenuSettingsName{ display: block; width: 100%; height: 10px; line-height: 10px; text-align: center; font-size: 9px; color: #3498db;}
#MenuMyRequests {top: 5px; right: 8px; display: block;}
#MenuMyRequests .MenuMyRequestsIcon{background-size: 700%;background: url(/img/menu_pc-12.png) no-repeat -225px 0px;top: 5px; left: 1px; position: relative; width: 28px; display: inline-block; height: 28px;}
#MenuMyRequests.Selected .MenuMyRequestsIcon{background: url(/img/menu_pc-12.png) no-repeat -225px -28px;}
#MenuMyRequests .MenuMyRequestsName{ display: block; width: 100%; height: 10px; line-height: 10px; text-align: center; font-size: 9px; color: #c0c0b5;}
#MenuMyRequests.Selected .MenuMyRequestsName{ color: #3498db;}

.FooterMenu .FooterMenuBtn {font-size: 10px; margin: 0 4px; padding: 2px 5px; display: block;}
.FooterMenu .MyEditSettingBtn {font-size: 14px; padding: 3px 7px; margin-left: 8px;}

.LinkApp {display:block; float: left; width: 100%; text-align: center; margin: 15px 0 0 0; font-size: 0;}

.Footer {display: block; background: #fff; width: 100%; text-align: center; padding: 15px 10px 80px 10px; font-size: 10px; box-sizing: border-box; color: #3498db;}
.Footer .FooterLang {display: block; float: left; width: 100%; margin: 10px 0; text-align: center; list-style: none; padding: 0;}
.Footer .FooterHref {text-decoration: underline; color: #3498db;}
.Footer .FooterCopy {text-align: center;}
.Footer .FooterLink {display: flex; flex-flow: row wrap; margin: 0 0 30px 0; justify-content: space-between; border-top: solid 1px #3498db; padding: 15px 0 0 0; width: 100%;}
.Footer .FooterLink dl {flex: 0 0 50%; text-align: left; white-space: nowrap; margin: 0; padding: 15px 10px; box-sizing: border-box;}
.Footer .FooterLink dl dt {font-size: 13px; margin: 0; padding: 0; font-weight: bold;}
.Footer .FooterLink dl dd {font-size: 12px; margin: 0; padding: 0;}
.Footer .LinkApp {margin: 0 0 15px 0;}

/********** AnalogicoInfo *********/
.AnalogicoInfo {display: block; color: #fff; background: #3498db; height: auto; padding: 15px 0;float: none;width: 100%;}
.AnalogicoInfo .AnalogicoInfoTitle {display: block; margin: 0 0 0 0; padding: 0; font-size: 16px; text-align: center; float: left; width: 100%;font-weight: normal;}
.AnalogicoInfo .AnalogicoMoreInfo {display: block; margin: 0 0 0 0; padding: 0; font-size: 16px; text-align: center; color: #fff; text-decoration: underline; font-weight: normal;}
.AnalogicoInfo .AnalogicoInfoRegist {display: block; text-align: center; font-size: 14px; float: none; width: 100%; margin: 6px 0;}
.AnalogicoInfo .AnalogicoInfoRegist .AnalogicoInfoRegistBtn {margin: 10px 0 0 0; width: 210px;}
.AnalogicoInfo .AnalogicoInfoRegist .RegistByMainLink {text-decoration: underline; display: block; margin: 6px 0 10px 0; font-size: 12px; color: #fff;}
.Footer .AnalogicoInfo {background: #fff; color:#3498db; padding: 0 0 15px 0;}


/********** AnalogicoInfo Float *********/
.AnalogicoInfo.Float {color: #fff; background: #d8f0f7; height: auto; padding: 3px 0;float: none;width: 100%; text-align: center; position: fixed; bottom: 0; z-index: 999;border-top: solid 1px #eee;}
.AnalogicoInfo.Float .AnalogicoInfoTitle {display: inline; float: none; width: auto; margin: 0; padding: 0; font-size: 11px; font-weight: normal; color: #3498db;}
.AnalogicoInfo.Float .AnalogicoInfoSubTitle {display: none; float: none; width: auto; margin: 0; padding: 0; font-size: 11px; font-weight: normal; color: #3498db;}
.AnalogicoInfo.Float .AnalogicoMoreInfo {display: inline; float: none; width: auto; margin: 0; padding: 0; font-size: 11px; font-weight: normal; color: #3498db; text-decoration: underline;}
.AnalogicoInfo.Float .AnalogicoInfoRegist {display: flex; justify-content: space-around; font-size: 10px; margin: 0;}
.AnalogicoInfo.Float .AnalogicoInfoRegist .AnalogicoInfoRegistBtn {margin: 8px 0 0 0; min-width: 150px; padding: 1px 3px; max-width: 160px; overflow: hidden; white-space: nowrap;}

/********** Ad **********/
.FooterAd {display:flex; width: 100%; flex-flow: row nowrap; justify-content: space-around; background: #3498db; padding: 15px 0;}