@charset "utf-8";

@font-face{
	font-family:"WebSymbolsLigaRegular";
	src: url('/font/websymbolsligaregular.eot');
	src: url('/font/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),url('/font/websymbolsligaregular.woff') format('woff'),url('/font/websymbolsligaregular.ttf') format('truetype'),url('/font/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}

html{
}

body {
	font-family: Verdana, 'Rounded Mplus 1c', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust:100%;
	color: #6d6965;
	background: #fff;
	-webkit-text-size-adjust:none;
}

h1 {
	display: block;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h2, h3 {
	display: block;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

input,
button,
textarea,
select {
	font-family: Verdana, 'Rounded Mplus 1c', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 14px;
}

input[type="text"],
input[type="password"],
textarea,
select {
	font-size: 14px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	vertical-align: top;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	color: #6d6965;
}

input[type="text"],
input[type="password"],
textarea {
	-webkit-appearance: none;
}

img {
	-ms-interpolation-mode: bicubic;
/*	display: block;*/
	border: none;
}

a {
	text-decoration: none;
	color: #6d6965;
}

a:hover {
	color: #5bd;
}

.AutoLink {
	text-decoration: none;
	color: #5bd;
}

.Misaki {
	font-family:Misaki,'Rounded Mplus 1c','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Verdana,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

.typcn {
	font-size: 18px;
}

.social-icon {
	display: inline-block;
	margin: 0 5px;
	font-size:20px;
	font-family:WebSymbolsLigaRegular;
}

.social-icon.FaceBook {color: #3b5998;}
.social-icon.GoogleP {color: #c53727;}
/*.social-icon.Twitter {color: #00a1e9;}*/
.social-icon.Twitter {color: #aaa;}
.social-icon.Hatena {color: #0075c2;}


.Selected {
	color: #ee9999;
}

hr {
	width: 100%;
	height: 0px;
	border: 0px;
}

form, button {
	border: 0;
	margin: 0;
	padding: 0;
}

.BtnBase,
input[type="submit"],
input[type="button"],
button {
	border: 1px solid #5bd;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Verdana, 'Rounded Mplus 1c', arial, helvetica, sans-serif;
	padding: 3px 12px;
	text-decoration: none;
	display: inline-block;
	color: #5bd;
	cursor: pointer;
	white-space: nowrap;
}

.BtnBase.Selected,
.BtnBase:hover,
input[type="submit"].Selected,
input[type="button"].Selected,
button.Selected {
	background: #5bd;
	color: #fff;
}

.BtnBase.Disabled, .BtnBase.Disabled:hover,
input[type="submit"].Disabled, input[type="submit"].Disabled:hover,
input[type="button"].Disabled, input[type="button"].Disabled:hover,
button.Disabled, button.Disabled:hover {
	border-color: #ebe;
	color: #ebe;
	cursor: default;
}

.BtnBase.Rev {border-color: #fff;}


.onoffswitch {
	position: relative; width: 46px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch .onoffswitch-checkbox {
	display: none;
}
.onoffswitch .onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 1px solid #eee; border-radius: 20px;
}
.onoffswitch .onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch .onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
	font-size: 9px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: normal; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch .onoffswitch-inner:before {
	content: "OK";
	padding-left: 10px;
	background-color: #4ae; color: #FFFFFF;
	text-align: left;
}
.onoffswitch .onoffswitch-inner:after {
	content: "NG";
	padding-right: 10px;
	background-color: #aaa; color: #FFFFFF;
	text-align: right;
}
.onoffswitch.OnOff .onoffswitch-inner:before {content: "ON";}
.onoffswitch.OnOff .onoffswitch-inner:after {content: "OFF";padding-right: 6px;}
.onoffswitch .onoffswitch-switch {
	display: block; width: 12px; margin: 3px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 26px;
	border: 1px solid #eee; border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

.PageBar {display: block; float: left; width: 100%; height: 34px; margin: 30px 0; box-sizing: border-box; padding: 0 7px; text-align: center; font-size: 0;}
.PageBar .PageBarItemFrame {display: inline-block; width:14.2%; text-align: center; font-size: 0;}
.PageBar .PageBarItem {display: inline-block; width: 34px; height: 34px; box-sizing: border-box; padding: 0; margin: 0; border-radius: 34px; font-size: 16px; line-height: 34px;}
