@charset "utf-8";

.AutoLink {color: #5bd;}

.Waiting {
	display: block;
	float: left;
	width: 100%;
	height: 32px;
	text-align: center;
	background-image: url('/img/loading.gif');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 20px 0;
}

.Wrapper {
	clear: both;
	width: 360px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
}

.Wrapper.ViewPc .RightPane {display: none;}

.Wrapper.ThumbList {
	width: 360px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
}

.Wrapper.ItemList {
	width: 360px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
}

.IllustDetail {
	width: 100%;
	height: 100%;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
}

.UpdateInfo {float: left; width: 100%; text-align: center; background-color: #5bd; padding: 5px 0; font-size: 0;}

.UpdateInfo .UpdateInfoMsg {color: #fff;font-size: 12px; font-weight: bold;}

.SideBarTop {
	display: block;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	margin: 3px 0 0 0;
	overflow: hidden;
}

.SideBarMid {
	display: block;
	float: left;
	margin: 3px 0 0 0;
	overflow: hidden;
	width: 100%;
	height: 50px;
	text-align: center;
}

.SideBarBottom {
	display: block;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	margin: 3px 0 0 0;
	overflow: hidden;
}

#DispMsg {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 10px;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	color: #fff;
	box-sizing: border-box;
	z-index: 999;
	text-align: center;
}

.SearchResultTitle {
	text-decoration: none;
	color: #5bd;
	margin: 10px 0 7px 0;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	display: block;
	float: left;
	width: 100%;
	font-weight: bold;
}

.SearchResultTitle .TitleCmdFollow {
	float: right;
	height: 22px;
	line-height: 23px;
	cursor: pointer;
	font-size: 14px;
	margin: 0 0 0 15px;
}


.IllustThumbList {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

/********** ILLUST LIST **********/
.IllustThumb {
	display: block;
	float: left;
	width: 118px;
	height: 118px;
	margin: 3px 3px 0 0;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}

.IllustThumb:nth-child(16n+3), .IllustThumb:nth-child(16n+6), .IllustThumb:nth-child(16n+9), .IllustThumb:nth-child(16n+12), .IllustThumb:nth-child(16n+15) {margin-right: 0;}

.IllustThumb .Category {
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	background: #5bd;
	font-size: 11px;
	color: #fff;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	border-radius: 0px;
	min-width: 50px;
	max-width: 108px;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	z-index: 2;
}

.IllustThumb .IllustThumbImg {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

/********** USER LIST **********/
.UserThumb {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	box-sizing: border-box;
	overflow: hidden;
	padding: 10px;
	border-bottom: solid 1px #eee;
	background-color: #fff;
}

.UserThumb .UserThumbImg {
	display: block;
	flex: 0 0 30px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	border: solid 1px #ccc;
	border-radius: 30px;
	margin: 0 5px 0 0;
	box-sizing: border-box;
}

.UserThumb .UserThumbImg img {
	display: block;
	width: 100%;
}

.UserThumb .UserThumbName {
	display: block;
	flex: 1 1;
	height: 30px;
	font-weight: bold;
	font-size: 13px;
	line-height: 30px;
}

.UserThumb .UserThumbName .UserThumbNameAdditional {
	font-weight: normal;
}

/********** TAG LIST **********/
.TagItem {
	display: block;
	width: 100%;
	height: 51px;
	box-sizing: border-box;
	overflow: hidden;
	padding: 10px;
	border-bottom: solid 1px #eee;
	color: #5bd;
	line-height: 30px;
	background-color: #fff;
}

/********** UPLOAD **********/
.PasteZone {display: block;float: left;width: 100%; font-size: 0;min-height: 113px;background: #fff;border-radius: 4px;}

.UploadFile {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 10px 50px 10px;
	max-width: 600px;
	margin: 0 auto;
}
.UploadFile .TimeLineIllustCmd {display: block;float: left;width: 100%;margin: 15px 0 15px 0;}

.UploadFile .InputFile {
	display: inline-block;
	position: relative;
	padding: 0;
	box-shadow: none;
	background-color: #f3f3f3;
	border-radius: 4px;
	margin: 6px;
	height: 101px;
	width: 101px;
}

.UploadFile .InputFile .imgView {
	border: none;
	border-radius: 2px 2px 0 0;
	bottom: 0;
	margin: auto;
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	max-height: 100%;
	max-width: 100%;
}

.InputFile .DeletePaste {
	display: block;
	position: absolute;
	right: -8px;
	top: -8px;
	box-sizing: border-box;
	white-space: nowrap;
	text-align: center;
	width: 26px;
	height: 26px;
	line-height: 20px;
	font-size: 12px;
	padding: 0;
	border: solid 3px #fafafa;
	border-radius: 30px;
	background-color: #525252;
	color: #F7F7F7;
	font-weight: bold;
	cursor: pointer;
	z-index: 1;
}

.UploadFile .InputFile.Done {
	background-color: #EDEDF5;
	box-shadow: 0 0 1px 0 #5bd;
	border: 0;
}


.UploadFile .TotalSize {display: block; float: left; width: 100%; text-align: right; font-size: 10px; padding: 0; line-height: 20px;}
.UploadFile .SelectImageBtn {display: block; float: left; height: 37px; line-height: 37px; margin: 0; text-decoration: none; padding: 0; overflow: hidden; box-sizing: border-box; padding: 0 15px; width: 100%; border-radius: 40px;-webkit-user-select: text;user-select: text;}

.UploadFile .CategorDesc {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0 0 0;
	font-size: 0;
}

.UploadFile .Description {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0 0 0;
	position: relative;
}

.UploadFile .Description .EditDescription {
	display: block;
	float: left;
	width: 100%;
	height: 130px;
	box-sizing: border-box;
	padding-bottom: 17px;
}

.UploadFile .Description .DescriptionCharNum {
	display: block;
	text-align: right;
	font-size: 12px;
	height: 15px;
	line-height: 15px;
	position: absolute;
	bottom: 1px;
	right: 10px;
}

.UploadFile .UoloadCmdOption {
	display: flex;
	float: left;
	flex-flow: row wrap;
	width: 100%;
	margin: 3px 0 10px 0;
	align-items: flex-end;
}

.UploadFile .UoloadCmdOption .OptionItem {
	flex: 0 0 68px;
	display: flex;
	flex-flow: column;
	width: 68px;
}

.UploadFile .UoloadCmdOption .OptionItem .OptionLabel {
	display: block;
	margin: 0;
	font-size: 10px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	white-space: nowrap;
	transform: scale(0.8);
}

.UploadFile .UoloadCmdOption .OptionItem .OptionLabel.disabled {
	color: #ccc;
}

.UploadFile .UoloadCmdOption .OptionItem .onoffswitch {
	margin: 0 auto;
}

.UploadFile .UoloadCmd {
	display: block;
	width: 100%;
	text-align: center;
}

.UploadFile .UoloadCmd .UoloadCmdBtn {
	display: inline-block;
}

/********** Illust List **********/
.IllustItemList {
	display: block;
	float: left;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.IllustItem {
	display: block;
	float: left;
	width: 100%;
	padding: 15px 0;
	box-sizing: border-box;
	overflow: hidden;
	background: #fff;
}

.IllustItem:first-child {padding-top: 0;}
.IllustItem:last-child {padding-bottom: 0;}


.IllustItem .IllustItemUser {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	padding: 5px 10px;
}

.IllustItem .IllustItemUser .IllustItemUserThumb {
	display: block;
	flex: 0 0 30px;
	height: 30px;
	overflow: hidden;
	border: solid 2px #ccc;
	border-radius: 60px;
}

.IllustItem .IllustItemUser .IllustItemUserThumb .IllustItemUserThumbImg
	{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 60px;
}

.IllustItem .IllustItemUser .IllustItemUserName {
	display: block;
	flex: 1 1 204px;
	padding: 0;
	margin: 0 0 0 10px;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	height: 34px;
	line-height: 34px;
	white-space: nowrap;
	overflow: hidden;
}

.IllustItem .IllustItemUser .UserInfoCmdFollow {
	display: block;
	flex: 0 0 90px;
	cursor: pointer;
	font-size: 12px;
	padding: 0;
	height: 24px;
	line-height: 24px;
	margin: 4px 0;
}

.IllustItem .IllustItemCommand {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}

.IllustItem .IllustItemCommand .IllustItemCategory {display: block; float: left;}

.IllustItem .IllustItemCommand .IllustItemCommandSub {
	position: absolute;
	right: 0;
	top: 0px;
	font-size: 18px;
}

.IllustItem .IllustItemCommand .IllustItemCommandSub .IllustItemCommandTweet,
	.IllustItem .IllustItemCommand .IllustItemCommandSub .IllustItemCommandInfo,
	.IllustItem .IllustItemCommand .IllustItemCommandSub .IllustItemCommandDelete,
	.IllustItem .IllustItemCommand .IllustItemCommandSub .IllustItemCommandEdit
	{
	display: inline-block;
	color: #aaa;
	margin: 0 15px 0 10px;
}

.IllustItem .IllustItemCommand .IllustItemCategoryEdit {display: none; float: left; margin: 0px 0 5px 4px;}


.IllustItem .IllustItemExpand {
	display: block;
	float: left;
	width: 100%;
	min-height: 15px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}

.IllustItem .IllustItemExpand .IllustItemExpandBtn {
	display: inline-block;
	margin: 10px 0 5px 0;
	font-size: 12px;
}

.IllustItem .Category {
	display: block;
	float: left;
	background: #5bd;
	font-size: 13px;
	color: #fff;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 0;
	height: 24px;
	line-height: 24px;
	margin: 0px 0 5px 4px;
	padding: 0 10px;
	min-width: 70px;
}

.Category.C0 {
	background-color: #ecec01;
	color: #555;
}

.Category.C10 {
	background-color: #eebb00;
	color: #555;
}

.Category.C1 {
	background-color: #eb7f10;
}

.Category.C2 {
	background-color: #ea541a;
}

.Category.C12 {
	background-color: #ea541a;
}

.Category.C3 {
	background-color: #d20000;
}

.Category.C4 {
	background-color: #bfda80;
	color: #555;
}

.Category.C5 {
	background-color: #34cca4;
}

.Category.C6 {
	background-color: #55bbdd;
}

.Category.C7 {
	background-color: #017ff0;
}

.Category.C11{
	background-color: #336699;
}

.Category.C8 {
	background-color: #333333;
}

.Category.C9 {
	background-color: #003399;
}

.Category.C13 {
	background-color: #ff9900;
	color: #000;
}

.IllustThumb .Category.C13 {
	font-size: 10px;
	height: auto;
	line-height: 10px;
	white-space: normal;
	padding: 1px 0;
}

.IllustItem .IllustItemDesc {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 0 5px;
	text-align: left;
	margin: 0 0 10px 0;
}

.IllustItem .IllustItemDesc .IllustItemDescCmd {
	display: inline-block;
}

.IllustItem .IllustItemDescEdit {
	display: none;
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 0 5px;
	text-align: left;
	margin: 0 0 10px 0;
}

.IllustItem .IllustItemDescEdit .IllustItemDescEditTxt {
	display: block;
	float: left;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
}

.IllustItem .IllustItemDescEdit .IllustItemDescEditCmdList {
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	margin: 5px 0 0 0;
}

.IllustItem .IllustItemDescEdit .IllustItemDescEditCmdList .IllustItemDescEditCmd {
	min-width: 80px;
}

.IllustItem .IllustItemThumb {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	min-height: 60px;
	text-align: center;
	font-size: 0;
}


.IllustItem .IllustItemThubExpand {
	display: none;
	float: left;
	width: 100%;
}

.IllustItem .IllustItemThubExpand .IllustItemThumb {
	margin: 5px 0 0 0;
}


.IllustItemTProhibit{
	display: block;
	text-align: center;
	font-size: 10px;
	padding: 10px;
}
.IllustItem .IllustItemTProhibit {
	display: block;
	position: absolute;
	top: 1px;
	right: 1px;
	box-sizing: border-box;
	text-align: right;
	height: 10px;
	line-height: 10px;
	padding: 0;
	font-size: 9px;
	color: #999;
}

.IllustItem .IllustItemThumb .IllustItemThumbImg {
	display: inline-block;
	max-width: 100%;
}

.IllustItem .IllustItemResList {
	display: block;
	float: left;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	padding: 0 0 6px 0;
	border-bottom: solid 1px #eee;
	text-align: left;
	font-size: 0;
}

.IllustItem .IllustItemResList .IllustItemResListTitle {
	font-size: 10px;
	padding: 0 4px;
}

.IllustItem .IllustItemResList .ResEmoji {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0;
	font-family: EmojiFontFamily,'Apple Color Emoji',sans-serif;
	font-size: 20px;
}

.IllustItem .IllustItemResList .ResEmojiAdd {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0;
	position: relative;
	font-size: 22px;
	color: #ddd;
}

.IllustItem .IllustItemResList .ResEmojiAdd:after, .ResEmojiAdd:before {
	bottom: -7px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.IllustItem .IllustItemResList .ResEmojiAdd:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

.IllustItem .IllustItemResList .ResEmojiAdd:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #ddd;
	border-width: 11px;
	margin-left: -11px;
}

.IllustItem .IllustItemResBtnList {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	font-size: 0;
}

.IllustItem .IllustItemResBtnList .ResBtnSetList {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	padding: 8px 0 4px 0;
}

.IllustItem .IllustItemResBtnList .ResBtnSetList .ResBtnSetItem {
	margin: 0 7px;
	min-width: 60px;
	text-align: center;
	padding: 1px 0;
	font-size: 11px;
}

.IllustItem .IllustItemResBtnList .ResBtnSetList .ResBtnSetItem.Selected {
}

.IllustItem .IllustItemResBtnList .ResEmojiBtnList {
	display: block;
	float: left;
	width: 100%;
	max-height: 160px;
	overflow: hidden;
}

.IllustItem .IllustItemResBtnList .ResEmojiBtnList.Food,
.IllustItem .IllustItemResBtnList .ResEmojiBtnList.All {
	max-height: 400px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.IllustItem .IllustItemResBtnList .ResEmojiBtnList .ResEmojiBtn {
	display: inline-block;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	background: #fff;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin: 0 5px 5px 5px;
	border-radius: 100px;
	user-select: none;
	font-family: EmojiFontFamily,'Apple Color Emoji',sans-serif;
	/*
	box-shadow: 2px 4px 6px #bbb;
	*/
}

.IllustItem .IllustItemResBtnList .ResEmojiBtnList .ResEmojiBtn:hover {
	background-color: #cef;
}

.IllustItem .IllustItemResList .ResEmoji .Twemoji,
.IllustItem .IllustItemResBtnList .ResEmojiBtnList .ResEmojiBtn .Twemoji,
.IllustItemList .ItemComment .ItemCommentItem .CommentThumb .Twemoji {
	width: 20px;
	height: auto;
}

/*
.IllustItem .IllustItemResBtnList .ResEmojiBtnList .ResEmojiBtn:active {
	box-shadow: 1px 2px 3px #bbb;
	transform: translate3d(1px, 2px, 0);

}
*/
/********** COMMENT **********/
.IllustItemList .ItemComment {
	display: block;
	width: 100%;
	float: left;
	box-sizing: border-box;
	margin: 0 auto;
}

.IllustItemList .ItemComment .ItemCommentItem {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	font-size: 14px;
	padding: 10px;
	border-bottom: solid 1px #eee;
	background-color: #fff;
}

.IllustItemList .ItemComment.Home .ItemCommentItem {
	padding: 1px 10px;
	border: none;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentName {
	display: block;
	flex: 0 0;
	font-weight: bold;
	font-size: 13px;
	margin: 0 5px 0 0;
	white-space: nowrap;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDesc {
	display: block;
	flex: 1 1;
	font-size: 14px;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDesc .CommentName {
	display: inline;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDescTxt {
	display: block;
	flex: 1 1;
	box-sizing: border-box;
	font-size: 14px;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDesc .CommentCmd {
	cursor: pointer;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDescBtn {
	display: block;
	flex: 0 0;
	box-sizing: border-box;
	text-align: right;
	margin: 2px 0 2px 10px;
	font-size: 14px;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDescBtn .BtnBase {
	font-size: 20px;
	padding: 0px 10px;
}

.IllustItemList .ItemComment .CommentTo {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	display: none;
	padding: 10px 10px 0 10px;
	font-size: 14px;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentThumb {
	display: block;
	flex: 0 0 30px;
	height: 30px;
	border: solid 1px #ccc;
	border-radius: 30px;
	overflow: hidden;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentThumb.Heart {
	border: none;
	line-height: 27px;
	border-radius: 0;
	overflow: visible;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentThumb img {
	width: 30px;
	height: 30px;
	border-radius: 30px;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentThumb.Heart .typcn {
	display: block;
	width: 30px;
	height: 30px;
	font-size: 32px;
	color: #ee9999;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentThumb.Heart .Emoji {
	display: block;
	width: 30px;
	height: 30px;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDetail {
	display: block;
	flex: 1 1;
	margin: 0 0 0 5px;
	box-sizing: border-box;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDetail .CommentDate
	{
	display: block;
	float: right;
	font-size: 9px;
	font-weight: normal;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDetail .CommentDesc
	{
	display: block;
	flex: 1 1;
	margin: 0;
	word-break: break-all;
	min-height: 16px;
	line-height: 16px;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDetail .CommentDesc .CommentName
	{
	display: inline;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDetail .CommentDesc .CommentCmd
	{
	cursor: pointer;
}

.IllustItemList .ItemComment .ItemCommentItem .CommentDetail.Heart .CommentName
	{
	font-weight: normal;
	line-height: 30px;
}

/*********** IllustView UserInfo **********/
.UserInfo {
	display: block;
	float: left;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
	background: #fff;
	background-size: 100% auto;
	background-repeat: no-repeat;
	border-bottom: solid 1px #eee;
}

.UserInfo .UserInfoBg {
	display: block;
	float: left;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	overflow: hidden;
}

.UserInfo .UserInfoUser {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	background: rgba(255, 2555, 255, 0.70);
}

.UserInfo .UserInfoUser .UserInfoUserThumb {
	display: block;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border: solid 2px #ccc;
	border-radius: 80px;
	margin: -42px auto 0 auto;
}

.UserInfo .UserInfoUser .UserInfoUserThumb .UserInfoUserThumbImg {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 80px;
}

.UserInfo .UserInfoUser .UserInfoUserName {
	display: block;
	float: left;
	width: 100%;
	padding: 5px 0 0 0;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.UserInfo .UserInfoUser .UserInfoProgile {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 20px;
	margin: 0;
	text-align: center;
	font-size: 13px;
}

.UserInfo .UserInfoCmd {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	padding: 5px 0 15px 0;
	background: rgba(255, 2555, 255, 0.70);
}

.UserInfo .UserInfoCmd .UserInfoCmdFollow {
	display: inline-block;
	height: 22px;
	line-height: 23px;
	cursor: pointer;
	font-size: 14px;
}

.UserInfo .UserInfoCmd .IllustItemCommandSub {
	display: block;
	position: absolute;
	right: 5px;
	bottom: 0;
	font-size: 22px;
}

.UserInfo .UserInfoCmd .IllustItemCommandSub .IllustItemCommandTweet {
	color: #aaa;
}

.UserInfo .UserInfoCmd .UserInfoCmdBlock {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	vertical-align: bottom;
	font-size: 24px;
}

.UserInfo .UserInfoState {
	display: block;
	float: left;
	width: 100%;
	height: 32px;
	overflow: hidden;
	text-align: center;
	padding: 3px 0;
	background: rgba(255, 2555, 255, 0.9);
	border-top: solid 1px #eee;
}

.UserInfo .UserInfoState .UserInfoStateItem {
	display: inline-block;
	min-width: 50px;
	margin: 0 15px;
}

.UserInfo .UserInfoState .UserInfoStateItem .UserInfoStateItemTitle {
	display: block;
	width: 100%;
	font-size: 9px;
	height: 14px;
	line-height: 14px;
}

.UserInfo .UserInfoState .UserInfoStateItem .UserInfoStateItemNum {
	display: block;
	width: 100%;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
}

/**********IllustView InfoForm **********/
.InfoForm {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: 30px 0 0 0;
	font-size: 11px;
	text-align: right;
}

/********** MyEditSettingV.jsp **********/
.SettingList {
	display: block;
	float: left;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	box-sizing: border-box;
}

.SettingList .SettingListItem {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: 0 0 40px 0;
	padding: 0 10px;
}

.SettingList .SettingListItem .SettingListTitle {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0;
	font-size: 18px;
}

.SettingList .SettingListItem .SettingBody {
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.SettingList .SettingListItem .SettingBody .SettingBodyTxt {
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}

.SettingList .SettingListItem .SettingBody #ReportDesc {
	height: 200px;
}

.SettingList .SettingListItem .SettingBody .SettingBodyCmd {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	float: left;
	box-sizing: border-box;
	text-align: left;
	margin: 10px 0 0 0;
}

.SettingList .SettingListItem .SettingBody .SettingBodyCmd .RegistMessage
	{
	display: block;
	flex: 1 1;
	font-size: 14px;
}

.SettingList .SettingListItem .SettingBody .SettingBodyCmd .SettingBodyCmdRegist
	{
	display: block;
	flex: 0 0;
	align-self: flex-start;
	margin-left: 10px;
}

.SettingList .SettingListItem .SettingBody .FileSelectFrame {
	display: block;
	float: left;
	width: 100%;
	height: 120px;
	position: relative;
	overflow: hidden;
	line-height: 115px;
	text-align: center;
	cursor: pointer;
	background: #eee;
	color: #ccc;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	cursor: pointer;
}

.SettingList .SettingListItem .SettingBody .FileSelectFrame .typcn {
	font-size: 60px;
}

.SettingList .SettingListItem .SettingBody .FileSelectFrame .SelectFile
	{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	font-size: 315px;
	opacity: 0;
	filter: alpha(opacity = 0);
	-ms-filter: "alpha(opacity=0)";
	cursor: pointer;
}

/********** SEARCH ALL **********/
.SearchKeyword {
	display: block;
	float: left;
	width: 100%;
	padding: 6px 10px;
	box-sizing: border-box;
	background: #ccc;
}

.SearchKeyword .SearchKeywordInput {
	display: block;
	float: left;
	width: 100%;
	padding: 2px 2px 2px 20px;
	box-sizing: border-box;
	background: #fff url('/img/search.png') 1% 50% no-repeat;
	font-size: 16px;
	font-family: sans-serif;
	border-radius: 5px;
}