@charset "utf-8";

/* Base */
.BtnBase:hover {background: #fff;color: #3498db;}
a:hover {color: #fff;}
.BtnBase.Disabled:hover, input[type="submit"].Disabled:hover, input[type="button"].Disabled:hover, button.Disabled:hover {border-color: #ebe;color: #ebe;cursor: default;}
.BtnBase.Rev:hover {border-color: #3498db; background-color: #fff;color: #3498db;}

body {padding: 51px 0 0 0 !important;}
.Wrapper {width: 600px; min-height: 60px; position: relative;}
.Wrapper.ThumbList {width: 990px;}
.Wrapper.ItemList {width: 730px;}
.Wrapper.ViewPc {width: 930px; position: relative; display: flex; flex-flow: row wrap;}
.Wrapper.ViewPc .IllustItemList {width: 600px; float: none; flex: 0 0 600px; margin: 0;}
.SideBarTop {height: 60px;}
.SideBarMid {height: 60px; margin: 0 0 30px 0; display: flex; justify-content: center;}
.SideBarMid.Wide {height: 90px; margin: 5px 0;}
.Wrapper.ItemList .SideBarMid.Wide {margin: 0;}
.SideBarBottom {height: 60px;}
.CategoryMenu {padding: 20px 0px 4px 0px;}
.CategoryMenu .CategoryBtn {padding: 0 12px;height: 24px;line-height: 22px;}
.UserInfo .UserInfoBg {height: 103px;}
.UserInfo .UserInfoUser .UserInfoUserThumb {width: 90px; height: 90px; margin: -47px auto 0 auto;}
.UserInfo .UserInfoCmd .IllustItemCommandSub {bottom: 15px; right: 15px;}
/* for user list */
.UserInfo.Thumb {
	color: #6d6965;
	border-radius: 4px;
	border: solid 1px #eee;
	margin: 31px 12px 17px 12px;
	width: 166px;
	height: 274px;
	background-color: #eee;
}
.UserInfo.Thumb .UserInfoBg {
	height: 157px;
}

.UserInfo.Thumb .UserInfoUser {
	height: 117px;
}
.UserInfo.Thumb .UserInfoUser .UserInfoUserName {
	padding: 5px 0 0 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 26px;
	line-height: 26px;
}
.UserInfo.Thumb .UserInfoUser .UserInfoProfile {
	padding: 0;
	height: 36px;
	line-height: 18px;
}
/* for user list */

.IllustThumbList {margin: 0 0;}
.IllustThumb {margin: 31px 12px 17px 12px; width: 166px; height: 274px;}
.IllustThumb .IllustUser {padding: 4px 2px;}
.IllustThumb .IllustUser .IllustUserThumb {flex: 0 0 29px; height: 29px; border-radius: 29px;}
.IllustThumb .IllustUser .IllustUserName {flex: 1 1 119px; margin: 0 0 0 4px; font-size: 14px;}
.IllustThumb .IllustInfo {padding: 3px 3px 1px 3px;}
.IllustThumb .Category {font-size: 12px; min-width: 60px; height: 22px; line-height: 22px; max-width: 100%; padding: 0 10px;}
.IllustThumb .Category.C13 {font-size: 13px; height: 24px; line-height: 24px; white-space: nowrap; padding: 0 5px;}
.IllustThumb.Hidden .Category:before {font-size: 14px;}
.IllustThumb .IllustInfo .IllustInfoDesc {font-size: 14px; height: 40px; line-height: 20px; -webkit-line-clamp: 2;}

.IllustThumb .IllustThumbImg {box-sizing: border-box; height: 164px;}
.IllustThumb .IllustThumbText {box-sizing: border-box; height: 164px; padding: 1px 3px;}
.IllustItem {margin: 15px;}
.Wrapper.ViewPc .IllustItem {margin: 30px auto; width: 600px; float: none;}
.Wrapper.ViewPc .IllustItem .IllustItemUser {padding: 10px;}
.Wrapper.ViewPc .IllustItem .Category {margin: 0px 0 3px 0px;}
.Wrapper.ViewPc .IllustItem .IllustItemCommand {}

.IllustItem .IllustItemCommand .GenreInfo {margin: 4px 4px 0 4px;}
.IllustItem .IllustItemCommand .GenreInfo .GenreImage {flex: 0 40px;width: 40px;height: 40px;}

.Wrapper.ViewPc .IllustItem .IllustItemCommand .IllustItemCategoryEdit {margin: 0px 0 8px 0px;}
.Wrapper.ViewPc .IllustItem .IllustItemDesc {padding: 0 10px;}
.Wrapper.ViewPc .IllustItem .IllustItemDescEdit {padding: 0 10px;}
.Wrapper.ViewPc .IllustItem .IllustItemExpand .IllustItemExpandBtn {margin: 2px 0 0px 0;}
.Wrapper.ViewPc .IllustItem .IllustItemResList {padding: 6px 9px 6px 9px;}
.Wrapper.ViewPc .IllustItem .IllustItemResList .ResEmoji {width: 29px; height: 29px;}
.Wrapper.ViewPc .IllustItem .IllustItemResBtnList {padding: 3px 5px;}
.Wrapper.ViewPc .IllustItem .IllustItemResBtnList .ResEmojiBtnList .ResEmojiBtn {width: 36px; height: 36px; line-height: 36px; margin: 3px 3px 0 3px;}
.SearchResultTitle {margin: 25px 0 10px 0; font-size: 20px; height: 32px; line-height: 30px;}
.SearchResultTitle .TitleCmdFollow {float: left; position: static;}

.Wrapper.ItemList .IllustThumbList, .Wrapper.ItemList .IllustItemList {margin: 30px 0; border: solid 1px #eee; border-radius: 6px; overflow: hidden; background-color: #fff;}
.Header {width: 100%; min-width: 850px; padding: 0;}
.HeaderWrapper {min-width: 700px; max-width: 990px; margin: 0 auto;}
.Header .HeaderTitleWrapper {float: left;  margin: 0;}
.Header #HeaderSearchWrapper {display: block; float: left; margin: 0 0 0 10px;}
.Header .HeaderSearch {}
.Header .HeaderSearch .HeaderSearchBox {width: 152px;}
.Header .HeaderTitleSearch {display: none;}
.FooterMenu .FooterMenuItem {width: 60px;}
.FooterMenu {float: left; width: auto; justify-content: flex-end; margin: 0 10px;}
.FooterMenu #MenuSearch {margin: 0 10px 0 0;}
.FooterMenu .MenuSep {display: block; float: left; width: 1px; height: 20px; margin: 10px 9px 20px 0; background-color: #ccc;}
.FooterMenu .FooterMenuBtn {}
.Footer .FooterLink dl {flex : 0 0 16.66%;}
.FooterAd .PcSideBarAd {display: block; width: 300px; height: 250px; flex: 0 0 300px;}

.TabMenu {max-width: 990px; overflow-x: auto;}
.TabMenu .TabMenuItem {flex: 0 1 120px; font-size: 13px;}

.MyBoxSearch {display: flex; flex-flow: row nowrap; text-align: center; width: 300px;}
.MyBoxSearch .MyBoxSearchBox {display: block; flex: 1 1; height: 26px; width: 152px; padding: 0 5px; box-sizing: border-box; border: solid 1px #3498db; border-radius: 15px 0 0 15px;}
.MyBoxSearch .MyBoxSearchBtn {display: block; height: 26px; box-sizing: border-box; margin: 0; background-color: #fff; color: #3498db; border: solid 1px #3498db; cursor: pointer; border-left: none;line-height: 25px;border-radius: 0 15px 15px 0; font-size: 14px; padding: 0px 6px 0px 4px;}
.MyBoxSearch .MyBoxSearchBtn:hover {border: solid 1px #fff; background-color: #3498db; color: #fff;}

.Wrapper.ThumbList .PcSideBarAd {display: block; float: right; width: 300px !important; height: 250px !important; margin: 16px 8px 0px 8px !important; background-color: #eee !important;}
.Wrapper.ViewPc .PcSideBar {display: block; width: 300px; float: none; margin: 0 0 0 30px; position: relative;; float: none; flex: 0 0 300px; min-height: 1000px;}
.Wrapper.ViewPc .PcSideBar .FixFrame {display: flex; flex-flow: column; width: 300px; /*position: sticky; top: 81px;*/}
.Wrapper.ViewPc .PcSideBar .PcSideBarItem {display: block; width: 100%; margin: 0 0 30px 0;}
.Wrapper.ViewPc .PcSideBar .PcSideBarItem .PcSideBarItemTitle {display: block; float: left; width: 100%; margin: 0 0 10px 0; font-size: 18px;}
.Wrapper.ViewPc .PcSideBar .PcSideBarItem .PcSideBarAd {display: block; float: none; width: 300px; height: auto; min-height: 250px; background-color: #eee; margin: 0;}
.Wrapper.ViewPc .PcSideBar .PcSideBarItem:last-child {position: absolute; bottom: 0;}


.PageBar .PageBarItemFrame {display: inline-block; width: 9.0%; text-align: center; font-size: 0;}

/********** AnalogicoInfo Float *********/
.AnalogicoInfo.Float {bottom: 0; padding: 5px 0; position: static; border: none;}
.AnalogicoInfo.Float .AnalogicoInfoTitle {font-size: 12px;}
.AnalogicoInfo.Float .AnalogicoInfoSubTitle {display: inline; font-size: 12px;}
.AnalogicoInfo.Float .AnalogicoMoreInfo {font-size: 12px;}
.AnalogicoInfo.Float .AnalogicoInfoRegist {font-size: 14px; margin: 0;}
.AnalogicoInfo.Float .AnalogicoInfoRegist .AnalogicoInfoRegistBtn {margin: 8px 0 0 0; min-width: 240px; padding: 3px 12px; max-width: 260px; overflow: hidden; white-space: nowrap;}


/********** GRID ***********/
.Wrapper.GridList {width: 1140px;}
.Wrapper.GridList .PcSideBarAd {display: flex; flex-flow: column; position: relative; width: 336px; height: 280px; float: right; margin: 31px 12px 12px 12px; background-color: #fff; align-items: center; justify-content: center;}
.Wrapper.GridList .PcSideBarAd .PassAd {display: block; position: absolute; top: -19px; left: 0; width: 100%; height: 19px; max-height: 19px; line-height: 19px; font-size: 13px; color: #fff; text-align: right;}

/********** EVENT LIST **********/
.EventItemList {float: none; margin: 0; width: 100%; height: auto; opacity: 1;}
.EventItemList .EventItem {margin: 0 0 20px 0;}

/********** SYSTEM INFO **********/
.SystemInfo .SystemInfoTitle {flex: 0 0 30px; height: 18px; line-height: 18px;}
.SystemInfo .SystemInfoDate {flex: 0 0 90px; height: 18px; line-height: 18px;}
.SystemInfo .SystemInfoDesc {flex: 0 0 770px; height: 18px; line-height: 18px;}
.SystemInfo .SystemInfoClose {flex: 0 0 30px; height: 18px; line-height: 18px;}



/********** genre **********/
.SearchGenre {padding: 5px 15px 0px 15px; flex-flow: row wrap;}
.SearchGenre .SearchEdit {margin: 0 0 10px 0; 	font-size: 12px;}
.SearchGenre .SearchGenreMeta {}
.SearchGenre .SearchGenreCmd .CmdBtn {margin: 0 0 10px 0;padding: 5px 12px;}
.SearchGenre .SearchGenreMeta .SearchGenreTitle {}
.SearchGenre .SearchGenreMeta .SearchGenreTitle .GenreImage {}
.SearchGenre .SearchGenreMeta .SearchGenreTitle .GenreNameOrg {}
.SearchGenre .SearchGenreMeta .SearchGenreDesc {font-size: 21px;margin: 5px 0;}
.SearchGenreDetail a {}

/********** genre list **********/
.GenreItem {width: 380px;padding: 22px 31px;float: left;}











