@charset "utf-8";

/* Base */
.BtnBase:hover {background: #5bd;color: #fff;}
a:hover {color: #5bd;}
.BtnBase.Disabled:hover, input[type="submit"].Disabled:hover, input[type="button"].Disabled:hover, button.Disabled:hover {border-color: #ebe;color: #ebe;cursor: default;}
.BtnBase.Rev:hover {border-color: #5bd; background-color: #fff;color: #5bd;}

body {padding: 51px 0 0 0 !important;}
.Wrapper {width: 600px; height: 60px; position: relative;}
.SideBarTop {height: 60px;}
.SideBarMid {height: 60px;}
.SideBarMid.Wide {height: 90px; margin: 5px 0;}
.Wrapper.ItemList .SideBarMid.Wide {margin: 0;}
.SideBarBottom {height: 60px;}
.UserInfo .UserInfoBg {height: 100px;}
.UserInfo .UserInfoUser .UserInfoUserThumb {width: 90px; height: 90px; margin: -47px auto 0 auto;}
.IllustThumb {width: 198px; height: 198px;}
.IllustThumb .Category {font-size: 13px; min-width: 60px; height: 24px; line-height: 24px; max-width: none;}
.IllustItem {margin: 30px auto; padding: 0; box-shadow: 0 0 1px #ddd; border-radius: 6px;}
.IllustItem .IllustItemUser {padding: 10px;}
.IllustItem .Category {margin: 0px 0 3px 0px;}
.IllustItem .IllustItemCommand {padding: 0 10px;}
.IllustItem .IllustItemCommand .IllustItemCategoryEdit {margin: 0px 0 5px 0px;}
.IllustItem .IllustItemDesc {padding: 0 10px;}
.IllustItem .IllustItemDescEdit {padding: 0 10px;}
.IllustItem .IllustItemResList {padding: 0 10px 6px 10px}
.IllustItem .IllustItemResBtnList {padding: 3px 7px;}
.IllustItem .IllustItemResBtnList .ResEmojiBtn {margin: 4px 1px;}
.SearchResultTitle {margin: 15px 0 10px 0; font-size: 18px; height: 30px; line-height: 30px;}
.SearchResultTitle .TitleCmdFollow {float: none;}

.IllustThumb .Category.C13 {font-size: 13px; height: 24px; line-height: 24px; white-space: nowrap; padding: 0 5px;}

.IllustThumb .IllustThumbImg {box-sizing: border-box;}
.IllustThumb {border-radius: 0px; box-shadow: 0 0 1px #ddd; padding: 0px; margin: 9px !important; width: 180px; height: 180px;}
.IllustThumb:nth-child(16n+3), .IllustThumb:nth-child(16n+6), .IllustThumb:nth-child(16n+9), .IllustThumb:nth-child(16n+12), .IllustThumb:nth-child(16n+15) {margin-right: 5px;}
.IllustThumb:nth-child(16n+5), .IllustThumb:nth-child(16n+10), .IllustThumb:nth-child(16n+15) {margin-right: 0;}
.Wrapper.ThumbList {width: 990px;}
.Wrapper.ItemList {width: 728px;}
.Wrapper.ItemList .IllustThumbList, .Wrapper.ItemList .IllustItemList {margin: 30px 0; border: solid 1px #eee; border-radius: 6px; overflow: hidden;}
.Header {width: 100%; min-width: 700px; padding: 0;}
.HeaderWrapper {min-width: 700px; max-width: 990px; margin: 0 auto;}
.Header .HeaderTitleWrapper {float: left;  margin: 0 0 0 10px;}
.Header #HeaderSearchWrapper {display: block; float: left; margin: 0 0 0 5px;}
.Header .HeaderSearch {}
.Header .HeaderSearch .HeaderSearchBox {width: 200px;}
.Header .HeaderTitleSearch {display: none;}
.FooterMenu .FooterMenuItem {width: 60px;}
.UploadFile .UoloadCmdOption .OptionItem {flex: 0 0 20%; width: 116px;}
.UploadFile .UoloadCmdOption .OptionItem .OptionLabel {transform: scale(1.0);}
.FooterMenu {float: right; width: 320px;}
.FooterMenu #MenuSearch {margin: 0 10px 0 0;}
.FooterMenu .MenuSep {display: block; float: left; width: 1px; height: 20px; margin: 10px 9px 20px 0; background-color: #ccc;}
.Footer .FooterLink dl {flex : 0 0 16.66%;}

.TabMenu {max-width: 990px;}
.TabMenu .TabMenuItem {flex: 0 1 120px;}