@charset "utf-8";

body {padding: 51px 0 0 0 !important;}
.Wrapper {width: 600px; height: 60px; position: relative;}
.SideBarTop {height: 60px;}
.SideBarMid {height: 60px;}
.SideBarMid.Wide {height: 90px; margin: 5px 0 0 0;}
.Wrapper.ItemList .SideBarMid.Wide {margin: 0;}
.SideBarBottom {height: 60px;}
.UserInfo .UserInfoBg {height: 100px;}
.UserInfo .UserInfoUser .UserInfoUserThumb {width: 90px; height: 90px; margin: -47px auto 0 auto;}
.IllustThumb {width: 198px; height: 198px;}
.IllustThumb .Category {font-size: 13px; min-width: 60px; height: 24px; line-height: 24px; max-width: none;}
.IllustItem {margin: 30px auto; padding: 0; box-shadow: 0 0 1px #ddd; border-radius: 6px;}
.IllustItem .IllustItemUser {padding: 10px;}
.IllustItem .Category {margin: 0px 0 3px 0px;}
.IllustItem .IllustItemCommand {padding: 0 10px;}
.IllustItem .IllustItemDesc {padding: 0 10px;}
.IllustItem .IllustItemResList {padding: 0 10px 6px 10px}
.IllustItem .IllustItemResBtnList {padding: 3px 7px;}
.IllustItem .IllustItemResBtnList .ResEmojiBtn {margin: 4px 1px;}
.SearchResultTitle {margin: 15px 0 0 0; font-size: 18px; height: 30px; line-height: 30px;}
.IllustThumb .Category.C13 {font-size: 13px; height: 24px; line-height: 24px; white-space: nowrap; padding: 0 5px;}

.IllustThumb .IllustThumbImg {box-sizing: border-box;}
.IllustThumb {border-radius: 4px; box-shadow: 0 0 1px #ddd; padding: 0px; margin: 5px 5px 0 0; width: 193px; height: 193px;}
.IllustThumb:nth-child(16n+3), .IllustThumb:nth-child(16n+6), .IllustThumb:nth-child(16n+9), .IllustThumb:nth-child(16n+12), .IllustThumb:nth-child(16n+15) {margin-right: 5px;}
.IllustThumb:nth-child(16n+5), .IllustThumb:nth-child(16n+10), .IllustThumb:nth-child(16n+15) {margin-right: 0;}
.Wrapper.ThumbList {width: 985px;}
.Wrapper.ItemList {width: 728px;}
.Wrapper.ItemList .IllustThumbList, .Wrapper.ItemList .IllustItemList {margin: 30px 0; border: solid 1px #eee; border-radius: 6px; overflow: hidden;}
.Header {width: 100%; min-width: 700px; padding: 0;}
.HeaderWrapper {min-width: 700px; max-width: 985px; margin: 0 auto;}
.Header .HeaderTitleWrapper {float: left;  margin: 0 0 0 10px;}
.Header #HeaderSearchWrapper {display: block; float: left; margin: 0 0 0 5px;}
.Header .HeaderSearch {}
.Header .HeaderSearch .HeaderSearchBox {width: 200px;}
.Header .HeaderTitleSearch {display: none;}

.UploadFile .UoloadCmdOption .OptionItem {flex: 0 0 20%; width: 116px;}
.UploadFile .UoloadCmdOption .OptionItem .OptionLabel {transform: scale(1.0);}
.FooterMenu {float: right; width: 320px;}

