@charset "utf-8";

.UploadFile .UoloadCmdOption .OptionItem .OptionPublish .EditPublish,
.UploadFile .UoloadCmdOption .OptionItem .OptionPublish .EditPassword {
	width: 133px;
	margin-right: 13px;
}

.UploadFile .UoloadCmdOption .OptionItem .OptionPublish .EditTimeLimited{
	width: 180px;
	margin-right: 10px;
}
.UploadFile .UoloadCmdOption .OptionItem .OptionPublish .EditTimeLimitedPc{
	width: 150px;
	text-align: right;
}
.UploadFile .UoloadCmdOption .OptionItem .OptionPublish .EditTimeLimitedPcTo{
	line-height: 2em;
}

.UploadFile .UoloadCmdOption .OptionItem .onoffswitch {
	margin: 0 10px 0 auto;
}

.UploadFile .UoloadCmd {
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin-top: 20px;
}

.UploadFile .UoloadCmd .UoloadCmdBtn {
	display: inline-block;
	padding: 8px 16px;
}

.UploadFile .UoloadCmdOption .OptionItem {
	flex: 0 0 100%;
	width: 100%;
	display: flex;
	flex-flow: row;
	padding: 12px 0;
	align-items: center;
	border-radius: 2px;
}

/*****/
.UploadFile .UoloadCmdOption .OptionItem.Sub {
 padding: 4px 0;
}

/* Switch starts here */
.UoloadCmdOption .rocker {
	display: inline-block;
	position: relative;
	font-size: 1em;
	text-align: center;
	color: #888;
	width: 100%;
	height: 2.5em;
	padding: 4px 0;
	overflow: hidden;
	margin: 0 12px;
}

.UoloadCmdOption .rocker.sub {
	font-size: 0.9em;
	height: 2em;
	padding: 3px 0;
	margin: -5px 12px 0 12px;
}

.UoloadCmdOption .rocker::before {
	content: "";
	position: absolute;
	background-color: #999;
}

.UoloadCmdOption .rocker input {
	opacity: 0;
	width: 0;
	height: 0;
}

.UoloadCmdOption .switch-left,
.UoloadCmdOption .switch-right {
	cursor: pointer;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	transition: 0.3s;
}

.UoloadCmdOption .switch-left {
	background-color: #ddd;
	border-radius: 4px 0 0 4px;
}

.UoloadCmdOption .switch-right {
	right: 0;
	background-color: #3498da;
	color: #ffffff;
	border-radius: 0 4px 4px 0;
}

.UoloadCmdOption input:checked + .switch-left {
	background-color: #3498da;
	color: #ffffff;
}

.UoloadCmdOption input:checked + .switch-left + .switch-right {
	background-color: #ddd;
	color: #888;
	right: 0;
}

/* Keyboard Users */
.UoloadCmdOption input:focus + .switch-left {
	color: #888;
}

.UoloadCmdOption input:checked:focus + .switch-left {
	color: #000;
}

.UoloadCmdOption input:focus + .switch-left + .switch-right {
	color: #000;
}

.UoloadCmdOption input:checked:focus + .switch-left + .switch-right {
	color: #888;
}

.UoloadCmdOption .OptionItem input[type=radio] {
	display: none;
}
.UoloadCmdOption .OptionItem input[type=radio]:checked + label {
	border: 2px solid #00A0BA;
}
.UoloadCmdOption .OptionItem input[type=radio] + label {
	border: 2px solid rgba(0,0,0,0);
}

#ItemNsfwVal {
	padding-top: 0;
	justify-content: center;
}
.UoloadCmdOption .OptionPublishNsfwList {
	display: flex;
	justify-content: flex-start;
	margin:	0 12px;
	flex-wrap: wrap;
}
.UoloadCmdOption .OptionPublishNsfw {
	display: flex;
	flex-direction: column;
	background: #fff;
	margin: 2px 3px;
	border-radius: 4px;
}
.UoloadCmdOption .OneCushionImage{
	display: block;
	width: 148px;
	height: 65px;
	border-radius: 4px;
	background-size: 105%;
}
.UoloadCmdOption .OneCushionName{
	display: block;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.UoloadCmdOption .OneCushionImage.OneCushion {
	background-image: url("/img/warning.png_360.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.UoloadCmdOption .OneCushionImage.R18 {
	background-image: url("/img/R-18.png_360.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.UoloadCmdOption .OneCushionImage.R18Plus {
	background-image: url("/img/R-18_plus.png_360.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.UoloadCmdOption .OptionPublishShowLimitList {
	display: flex;
	justify-content: center;
	margin:	0 12px;
	flex-direction: row;
	flex-wrap: wrap;
}
.UoloadCmdOption .OptionShowLimit {
	display: flex;
	flex-direction: column;
	background: #fff;
	margin: 2px 3px;
	border-radius: 4px;
}
.UoloadCmdOption .ShowLimitImage {
	display: block;
	width: 148px;
	height: 65px;
	background-size: 90%;
}
.UoloadCmdOption .ShowLimitImage.UnrealizmLogin {
	background-image: url("/img/publish_login.png_360.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.UoloadCmdOption .ShowLimitImage.UnrealizmFollower {
	background-image: url("/img/publish_follower.png_360.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.UoloadCmdOption .ShowLimitImage.TwitterFollower {
	background-image: url("/img/publish_t_follower.png_360.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.UoloadCmdOption .ShowLimitImage.TwitterList {
	background-image: url("/img/publish_t_list.png_360.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.UoloadCmdOption .ShowLimitImage.TwitterFollowee {
	background-image: url("/img/publish_t_follow.png_360.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.UoloadCmdOption .ShowLimitImage.TwitterEach {
	background-image: url("/img/publish_t_each.png_360.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.UoloadCmdOption .ShowLimitImage.TwitterRetweet {
	background-image: url("/img/publish_t_rt.png_360.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.UoloadCmdOption .ShowLimitName {
	display: block;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.UoloadCmdOption .UploadFile .UoloadCmdOption .OptionOther {
	border-top: 1px solid rgb(172, 172, 172);
}
#TwitterList {
	text-align: center;
}
#TwitterList select{
	width: 145px;
	margin: 2px auto;
	font-size: 12px;
	padding: 1px;
}
#TwitterListNotFound {
	display: block;
	width: 140px;
	font-size: 11px;
	text-align: left;
}

.TagDlgWrapper .TagSearchWrapper {display: flex; height: 42px; padding: 4px 0;}
.TagDlgWrapper .TagSearch {flex-grow: 1; display: flex; justify-content: center; padding: 3px 10px;}
.TagDlgWrapper .TagSearch .TagSearchBox {width: 100%; padding: 10px 0 0 8px; border: none; background: none;}
.TagDlgWrapper .TagSearch .TagSearchBox:focus {outline: none;}
.TagDlgWrapper .TagSearch .TagSearchBox:placeholder-shown, .TagDlgWrapper .TagSearch .TagSearchBox::placeholder {color: #bbb; font-style: italic; font-size: 12px;}
.TagDlgWrapper .TagSearch .TagSearchInputWrapper {flex: 1 1; position: relative; border: 1px solid #bbb; border-radius: 5px;}
.TagDlgWrapper .TagSearch .TagSearchClear {display: inline-block; color: #3498dbaa; height: 26px; line-height: 26px; position: absolute; right: 1px; cursor: pointer; visibility: hidden; padding: 4px; font-size: 20px;}

.TagDlgWrapper .CurrentTagHeader {color: #6d6965; font-size: 16px; font-weight: bold; padding: 18px; text-align: left; height: 24px;}
.TagDlgWrapper .CurrentTagList {color: #6d6965; font-size: 16px; text-align: left; padding-inline-start: 0; max-height: calc(100% - 110px); margin: 0; overflow-y: auto;}

.TagDlgWrapper .CurrentTagList li {border-top: solid 1px #ddd; list-style: none;}
.TagDlgWrapper .CurrentTagList li:last-child {border-bottom: solid 1px #ddd;}
.TagDlgWrapper .CurrentTagList .CurrentTagRow {display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;}
.TagDlgWrapper .CurrentTagList .CurrentTagName {flex-grow: 1; padding: 1em 0 1em 2em; width: 340px;}
.TagDlgWrapper .CurrentTagList .CurrentTagNameBlank {padding: 1em;}
.TagDlgWrapper .CurrentTagList .CurrentTagDelBtn {width: 1em; padding: 0.5em; color: #3498dbaa; margin-right: 12px;}
