Estimado $to_name

¡Bienvenido a Unrealizm!
Unrealizm es una red social de envío de imágenes para trabajos de IA.
Puede publicar no solo imágenes generadas por IA, sino también trabajos creados en cooperación con IA.
Nuestro personal le mostrará cómo usar Unrealizm y cómo configurar su correo electrónico.

[Publicar y disfrutar]
+ Archivos +
Puede cargar archivos PNG, JPEG y GIF (incluidos los GIF animados). Se pueden cargar varias imágenes al mismo tiempo y el orden se puede cambiar o reemplazar después del envío.

+ Pegar +
Puede copiar y pegar capturas de pantalla y otras imágenes y publicarlas. Puede hacer cosas como capturar la pantalla de un software de pintura y publicar el progreso de su trabajo.


[Disfruta viendo y leyendo]
+ Reacciones +
Para cada contenido, puede enviar sus sentimientos como Emoji (reacciones). También puede tener múltiples reacciones a un solo contenido.
Reacciones, no se lo digas a la otra persona que te las envió. Si lo desea, puede enviar emoji con la frecuencia que desee.

+ Seguir +
Cuando sigue a un usuario en Unrealizm, puede consultar las nuevas publicaciones del usuario que está siguiendo en la página [Inicio].
Los seguidores en Unrealizm no serán notificados. Sigámoslos de inmediato.


[Ajustes del correo electrónico]
También puede iniciar sesión en Unrealizm con su dirección de correo electrónico y contraseña, en caso de que la integración de Twitter no funcione o haya eliminado su cuenta de Twitter.

Correo electrónico: $login_email
Contraseña: $login_password

- Si se ha registrado con la integración de Twitter, su dirección de correo electrónico registrada en su cuenta de Twitter se establece temporalmente en Unrealizm.
- Puede cambiar su dirección de correo electrónico y contraseña en la página de configuración.


[Entrega de correo electrónico]
Recibirá correos electrónicos de notificación ocasionales cuando haya anuncios sin leer o cuando un usuario al que sigue en Twitter inicie Unrealizm.
- Puede cambiar la entrega ON/OFF en la pantalla de configuración.


[Cuentas oficiales]
Esta es la cuenta oficial de Unrealizm y Twitter. Publicaremos actualizaciones e información de la campaña según sea necesario, así que síganos si lo desea.

irrealización
https://unrealizm.com/2

Gorjeo
https://twitter.com/pipajp


Entonces, ¡disfruta de Unrealizm!

#parse("es/footer.vm")
