#parse("ja/header.vm")

あなたがTwitterでフォローしているユーザーがUnrealizmをはじめています。

#foreach($u in $recommend_users)
【$u.nickname】
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("ja/footer.vm")
