#parse("zh_CN/header.vm")

以下是您在 Unrealizm 上未关注的一些推荐用户。

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("zh_CN/footer.vm")
