#parse("zh_TW/header.vm")

您在 Twitter 上關注的用戶已啟動 Unrealizm。

#foreach($u in $recommend_users)
[$u.nickname]
#if($u.profile.length()>0)
$u.profile
#end
https://unrealizm.com/$u.userId

#end

#parse("zh_TW/footer.vm")
