#parse("ru/header.vm")

Другой пользователь дал вам билет на POIPASS.

- Если ваш POIPASS ВЫКЛЮЧЕН, ваш билет будет использован, и ваш POIPASS будет автоматически включен.
- Вы можете проверить текущее количество билетов на странице настроек.
- Если вы в настоящее время покупаете POIPASS, с вас не будет взиматься плата за следующий месяц.

#parse("ru/footer.vm")
