※ メール配信のON/OFFは、ブラウザ版Unrealizmの設定画面にて切り替えられます。
※ 本メールは送信専用のため返信できません。
※ メールアドレスとパスワードで、Unrealizmにログインすることができます。Twitter連携がうまくいかないときにご利用ください。
（ログアウトした状態でhttps://ai.poipiku.com/にアクセス）


--
Unrealizm powered by Pipa.jp Ltd.

Official accounts
https://ai.poipiku.com/2
https://twitter.com/pipajp
