#parse("ja/header.vm")

リクエストが承認されました。
この承認のタイミングで、リクエスト送信時に指定した金額が決済されました。
こちらのページより、内容をご確認ください。（要ログイン）
$request_board_url

・クリエイターの納品が終わりましたら、メールにて通知いたします。
・コンテンツの内容及びクオリティについては、リクエストの内容・用途・金額から、クリエイターが判断します。
・ポイピク内外にて、このリクエストについてクリエイターとやりとりすることはできません。
・クリエイターが納品期限までに納品しなかった場合は、キャンセル扱いとなり全額払い戻されます。
（払い戻しについて、代理店の手続きにお時間をいただく場合があります）

#parse("ja/footer.vm")
