- 您可以在 POIPIKU 瀏覽器版本的設置屏幕中打開和關閉電子郵件發送。
- 此郵件僅供發送，無法回复。
- 如果您在連接 Twitter 時遇到問題，可以使用您的電子郵件地址和密碼登錄 POIPIKU。
（退出時訪問 https://ai.poipiku.com/。）

--
POIPIKU powered by Pipa.jp Ltd.

Official accounts
https://ai.poipiku.com/2
https://twitter.com/pipajp
