Dear $to_name

Welcome to POIPIKU!
Our staff will show you how to use POIPIKU and how to set up your email.

[Post and enjoy]
You can post images (photos are acceptable) and novels (text).
POIPIKU is a site where you can casually post scribbles or content you are working on. Feel free to post your own work.

+ Files +
You can upload PNGs, JPEGs, and GIFs (including animated GIFs). Multiple images can be uploaded at the same time, and the order can be changed or replaced after submission.

+ Novels +
You can submit up to 100,000 characters. You can switch between vertical and horizontal writing styles, as well as use Aozora Bunko notation to write ruby.

+ Paste +
You can copy and paste screen shots and other images and post them. You can do things like capture the screen of a painting software and post the progress of your work.


[Enjoy watching and reading]
When you follow a user on POIPIKU, you can check the new posts of the user you are following on the [quiet follow] page.
Followers on POIPIKU will not be notified. Let's follow them right away.

+ Recommended Users +

#foreach($u in $recommend_users)
$u.nickname
#if($u.profile.length()>0)
$u.profile
#end
https://poipiku.com/$u.userId

#end


+ Reactions +
For each content, you can send your feelings as Emoji (reactions). You can also have multiple reactions to a single content.
Reactions, do not tell the other person who sent them. If you feel like it, you can send emoji as often as you like.


[Email settings]
You can also log in to POIPIKU with your email address and password, in case Twitter integration doesn't work or you've deleted your Twitter account.

Email : $login_email
Password : $login_password

- The email address registered on Twitter.
- You can change your email address and password in the settings page.


[Email Delivery]
You will receive occasional email notifications, such as those introducing recommended users or notifying you when a user you follow on Twitter starts using POIPIKU.
- You can change the delivery ON/OFF in the settings screen.


[Official Accounts]
This is the official account for POIPIKU and Twitter. We will post updates and campaign information as needed, so please follow us if you like.

POIPIKU
https://poipiku.com/2

Twitter
https://twitter.com/pipajp


So, enjoy POIPIKU!

#parse("en/footer.vm")
