Gửi $to_name

Chào mừng đến với POIPIKU!
Nhân viên của chúng tôi sẽ hướng dẫn bạn cách sử dụng POIPIKU và cách thiết lập email của bạn.

[Đăng và thưởng thức]
Bạn có thể đăng hình ảnh (ảnh có thể chấp nhận được) và tiểu thuyết (văn bản).
POIPIKU là một trang web nơi bạn có thể tình cờ đăng những nét vẽ nguệch ngoạc hoặc nội dung mà bạn đang làm việc. Hãy đăng tác phẩm của riêng bạn.

+ Tệp +
Bạn có thể tải lên PNG, JPEG và GIF (bao gồm cả GIF động). Nhiều hình ảnh có thể được tải lên cùng một lúc và thứ tự có thể được thay đổi hoặc thay thế sau khi gửi.

+ Tiểu thuyết +
Bạn có thể gửi tối đa 100.000 ký tự. Bạn có thể chuyển đổi giữa các kiểu viết dọc và ngang, cũng như sử dụng ký hiệu Aozora Bunko để viết ruby.

+ Dán +
Bạn có thể sao chép và dán ảnh chụp màn hình và các hình ảnh khác và đăng chúng. Bạn có thể làm những việc như chụp màn hình phần mềm vẽ tranh và đăng tiến trình công việc của mình.


[Thích xem và đọc]
Khi theo dõi một người dùng trên POIPIKU, bạn có thể kiểm tra các bài đăng mới của người dùng mà bạn đang theo dõi trên trang [lặng lẽ theo dõi].
Những người theo dõi trên POIPIKU sẽ không được thông báo. Hãy cùng theo dõi chúng ngay sau đây.

+ Người dùng được đề xuất +

#foreach($u in $recommend_users)
$u.nickname
#if($u.profile.length()>0)
$u.profile
#end
https://ai.poipiku.com/$u.userId

#end


+ Phản ứng +
Đối với mỗi nội dung, bạn có thể gửi cảm xúc của mình dưới dạng Emoji (phản ứng). Bạn cũng có thể có nhiều phản ứng với một nội dung.
Các phản ứng, đừng nói cho người khác biết người đã gửi chúng. Nếu cảm thấy thích, bạn có thể gửi biểu tượng cảm xúc bao nhiêu lần tùy thích.


[Cài đặt email]
Bạn cũng có thể đăng nhập vào POIPIKU bằng địa chỉ email và mật khẩu của mình, trong trường hợp tích hợp Twitter không hoạt động hoặc bạn đã xóa tài khoản Twitter của mình.

Email: $login_email
Mật khẩu: $login_password

- Địa chỉ email đã đăng ký trên Twitter.
- Bạn có thể thay đổi địa chỉ email và mật khẩu của mình trong trang cài đặt.


[Gửi email]
Bạn sẽ nhận được thông báo qua email không thường xuyên, chẳng hạn như thông báo giới thiệu người dùng được đề xuất hoặc thông báo cho bạn khi người dùng mà bạn theo dõi trên Twitter bắt đầu sử dụng POIPIKU.
- Bạn có thể thay đổi giao hàng BẬT / TẮT trong màn hình cài đặt.


[Tài khoản chính thức]
Đây là tài khoản chính thức cho POIPIKU và Twitter. Chúng tôi sẽ đăng thông tin cập nhật và chiến dịch khi cần thiết, vì vậy hãy theo dõi chúng tôi nếu bạn thích.

POIPIKU
https://ai.poipiku.com/2

Twitter
https://twitter.com/pipajp


Vì vậy, hãy tận hưởng POIPIKU!

#parse("vi/footer.vm")
